.market-container .a-market-tile[random-placement-index="1"] .a-cube:nth-child(1) {
  left: 50%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="1"] .a-cube:nth-child(2) {
  left: 24%;
  top: 56%;
}
.market-container .a-market-tile[random-placement-index="1"] .a-cube:nth-child(3) {
  left: 22%;
  top: 32%;
}
.market-container .a-market-tile[random-placement-index="2"] .a-cube:nth-child(1) {
  left: 27%;
  top: 55%;
}
.market-container .a-market-tile[random-placement-index="2"] .a-cube:nth-child(2) {
  left: 32%;
  top: 23%;
}
.market-container .a-market-tile[random-placement-index="2"] .a-cube:nth-child(3) {
  left: 54%;
  top: 47%;
}
.market-container .a-market-tile[random-placement-index="3"] .a-cube:nth-child(1) {
  left: 46%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="3"] .a-cube:nth-child(2) {
  left: 27%;
  top: 45%;
}
.market-container .a-market-tile[random-placement-index="3"] .a-cube:nth-child(3) {
  left: 55%;
  top: 49%;
}
.market-container .a-market-tile[random-placement-index="4"] .a-cube:nth-child(1) {
  left: 20%;
  top: 58%;
}
.market-container .a-market-tile[random-placement-index="4"] .a-cube:nth-child(2) {
  left: 57%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="4"] .a-cube:nth-child(3) {
  left: 20%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="5"] .a-cube:nth-child(1) {
  left: 42%;
  top: 54%;
}
.market-container .a-market-tile[random-placement-index="5"] .a-cube:nth-child(2) {
  left: 36%;
  top: 24%;
}
.market-container .a-market-tile[random-placement-index="5"] .a-cube:nth-child(3) {
  left: 59%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="6"] .a-cube:nth-child(1) {
  left: 31%;
  top: 55%;
}
.market-container .a-market-tile[random-placement-index="6"] .a-cube:nth-child(2) {
  left: 54%;
  top: 50%;
}
.market-container .a-market-tile[random-placement-index="6"] .a-cube:nth-child(3) {
  left: 33%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="7"] .a-cube:nth-child(1) {
  left: 46%;
  top: 25%;
}
.market-container .a-market-tile[random-placement-index="7"] .a-cube:nth-child(2) {
  left: 42%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="7"] .a-cube:nth-child(3) {
  left: 21%;
  top: 23%;
}
.market-container .a-market-tile[random-placement-index="8"] .a-cube:nth-child(1) {
  left: 56%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="8"] .a-cube:nth-child(2) {
  left: 60%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="8"] .a-cube:nth-child(3) {
  left: 20%;
  top: 40%;
}
.market-container .a-market-tile[random-placement-index="9"] .a-cube:nth-child(1) {
  left: 45%;
  top: 53%;
}
.market-container .a-market-tile[random-placement-index="9"] .a-cube:nth-child(2) {
  left: 47%;
  top: 27%;
}
.market-container .a-market-tile[random-placement-index="9"] .a-cube:nth-child(3) {
  left: 20%;
  top: 29%;
}
.market-container .a-market-tile[random-placement-index="10"] .a-cube:nth-child(1) {
  left: 50%;
  top: 26%;
}
.market-container .a-market-tile[random-placement-index="10"] .a-cube:nth-child(2) {
  left: 22%;
  top: 30%;
}
.market-container .a-market-tile[random-placement-index="10"] .a-cube:nth-child(3) {
  left: 44%;
  top: 55%;
}
.market-container .a-market-tile[random-placement-index="11"] .a-cube:nth-child(1) {
  left: 40%;
  top: 54%;
}
.market-container .a-market-tile[random-placement-index="11"] .a-cube:nth-child(2) {
  left: 60%;
  top: 27%;
}
.market-container .a-market-tile[random-placement-index="11"] .a-cube:nth-child(3) {
  left: 21%;
  top: 31%;
}
.market-container .a-market-tile[random-placement-index="12"] .a-cube:nth-child(1) {
  left: 45%;
  top: 46%;
}
.market-container .a-market-tile[random-placement-index="12"] .a-cube:nth-child(2) {
  left: 21%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="12"] .a-cube:nth-child(3) {
  left: 45%;
  top: 23%;
}
.market-container .a-market-tile[random-placement-index="13"] .a-cube:nth-child(1) {
  left: 27%;
  top: 27%;
}
.market-container .a-market-tile[random-placement-index="13"] .a-cube:nth-child(2) {
  left: 38%;
  top: 51%;
}
.market-container .a-market-tile[random-placement-index="13"] .a-cube:nth-child(3) {
  left: 56%;
  top: 26%;
}
.market-container .a-market-tile[random-placement-index="14"] .a-cube:nth-child(1) {
  left: 35%;
  top: 40%;
}
.market-container .a-market-tile[random-placement-index="14"] .a-cube:nth-child(2) {
  left: 58%;
  top: 34%;
}
.market-container .a-market-tile[random-placement-index="14"] .a-cube:nth-child(3) {
  left: 58%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="15"] .a-cube:nth-child(1) {
  left: 33%;
  top: 38%;
}
.market-container .a-market-tile[random-placement-index="15"] .a-cube:nth-child(2) {
  left: 57%;
  top: 31%;
}
.market-container .a-market-tile[random-placement-index="15"] .a-cube:nth-child(3) {
  left: 56%;
  top: 57%;
}
.market-container .a-market-tile[random-placement-index="16"] .a-cube:nth-child(1) {
  left: 58%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="16"] .a-cube:nth-child(2) {
  left: 21%;
  top: 37%;
}
.market-container .a-market-tile[random-placement-index="16"] .a-cube:nth-child(3) {
  left: 46%;
  top: 36%;
}
.market-container .a-market-tile[random-placement-index="17"] .a-cube:nth-child(1) {
  left: 30%;
  top: 40%;
}
.market-container .a-market-tile[random-placement-index="17"] .a-cube:nth-child(2) {
  left: 54%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="17"] .a-cube:nth-child(3) {
  left: 56%;
  top: 54%;
}
.market-container .a-market-tile[random-placement-index="18"] .a-cube:nth-child(1) {
  left: 60%;
  top: 24%;
}
.market-container .a-market-tile[random-placement-index="18"] .a-cube:nth-child(2) {
  left: 34%;
  top: 32%;
}
.market-container .a-market-tile[random-placement-index="18"] .a-cube:nth-child(3) {
  left: 55%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="19"] .a-cube:nth-child(1) {
  left: 20%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="19"] .a-cube:nth-child(2) {
  left: 45%;
  top: 55%;
}
.market-container .a-market-tile[random-placement-index="19"] .a-cube:nth-child(3) {
  left: 49%;
  top: 23%;
}
.market-container .a-market-tile[random-placement-index="20"] .a-cube:nth-child(1) {
  left: 58%;
  top: 44%;
}
.market-container .a-market-tile[random-placement-index="20"] .a-cube:nth-child(2) {
  left: 25%;
  top: 28%;
}
.market-container .a-market-tile[random-placement-index="20"] .a-cube:nth-child(3) {
  left: 34%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="21"] .a-cube:nth-child(1) {
  left: 60%;
  top: 44%;
}
.market-container .a-market-tile[random-placement-index="21"] .a-cube:nth-child(2) {
  left: 34%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="21"] .a-cube:nth-child(3) {
  left: 32%;
  top: 20%;
}
.market-container .a-market-tile[random-placement-index="22"] .a-cube:nth-child(1) {
  left: 33%;
  top: 53%;
}
.market-container .a-market-tile[random-placement-index="22"] .a-cube:nth-child(2) {
  left: 57%;
  top: 35%;
}
.market-container .a-market-tile[random-placement-index="22"] .a-cube:nth-child(3) {
  left: 26%;
  top: 29%;
}
.market-container .a-market-tile[random-placement-index="23"] .a-cube:nth-child(1) {
  left: 28%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="23"] .a-cube:nth-child(2) {
  left: 59%;
  top: 39%;
}
.market-container .a-market-tile[random-placement-index="23"] .a-cube:nth-child(3) {
  left: 24%;
  top: 46%;
}
.market-container .a-market-tile[random-placement-index="24"] .a-cube:nth-child(1) {
  left: 21%;
  top: 34%;
}
.market-container .a-market-tile[random-placement-index="24"] .a-cube:nth-child(2) {
  left: 46%;
  top: 38%;
}
.market-container .a-market-tile[random-placement-index="24"] .a-cube:nth-child(3) {
  left: 21%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="25"] .a-cube:nth-child(1) {
  left: 49%;
  top: 31%;
}
.market-container .a-market-tile[random-placement-index="25"] .a-cube:nth-child(2) {
  left: 20%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="25"] .a-cube:nth-child(3) {
  left: 47%;
  top: 58%;
}
.market-container .a-market-tile[random-placement-index="26"] .a-cube:nth-child(1) {
  left: 20%;
  top: 57%;
}
.market-container .a-market-tile[random-placement-index="26"] .a-cube:nth-child(2) {
  left: 44%;
  top: 23%;
}
.market-container .a-market-tile[random-placement-index="26"] .a-cube:nth-child(3) {
  left: 59%;
  top: 56%;
}
.market-container .a-market-tile[random-placement-index="27"] .a-cube:nth-child(1) {
  left: 35%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="27"] .a-cube:nth-child(2) {
  left: 21%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="27"] .a-cube:nth-child(3) {
  left: 55%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="28"] .a-cube:nth-child(1) {
  left: 41%;
  top: 46%;
}
.market-container .a-market-tile[random-placement-index="28"] .a-cube:nth-child(2) {
  left: 23%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="28"] .a-cube:nth-child(3) {
  left: 49%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="29"] .a-cube:nth-child(1) {
  left: 49%;
  top: 28%;
}
.market-container .a-market-tile[random-placement-index="29"] .a-cube:nth-child(2) {
  left: 58%;
  top: 53%;
}
.market-container .a-market-tile[random-placement-index="29"] .a-cube:nth-child(3) {
  left: 29%;
  top: 54%;
}
.market-container .a-market-tile[random-placement-index="30"] .a-cube:nth-child(1) {
  left: 59%;
  top: 32%;
}
.market-container .a-market-tile[random-placement-index="30"] .a-cube:nth-child(2) {
  left: 34%;
  top: 30%;
}
.market-container .a-market-tile[random-placement-index="30"] .a-cube:nth-child(3) {
  left: 42%;
  top: 55%;
}
.market-container .a-market-tile[random-placement-index="31"] .a-cube:nth-child(1) {
  left: 29%;
  top: 56%;
}
.market-container .a-market-tile[random-placement-index="31"] .a-cube:nth-child(2) {
  left: 42%;
  top: 30%;
}
.market-container .a-market-tile[random-placement-index="31"] .a-cube:nth-child(3) {
  left: 52%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="32"] .a-cube:nth-child(1) {
  left: 38%;
  top: 24%;
}
.market-container .a-market-tile[random-placement-index="32"] .a-cube:nth-child(2) {
  left: 50%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="32"] .a-cube:nth-child(3) {
  left: 24%;
  top: 55%;
}
.market-container .a-market-tile[random-placement-index="33"] .a-cube:nth-child(1) {
  left: 49%;
  top: 32%;
}
.market-container .a-market-tile[random-placement-index="33"] .a-cube:nth-child(2) {
  left: 22%;
  top: 30%;
}
.market-container .a-market-tile[random-placement-index="33"] .a-cube:nth-child(3) {
  left: 33%;
  top: 57%;
}
.market-container .a-market-tile[random-placement-index="34"] .a-cube:nth-child(1) {
  left: 50%;
  top: 51%;
}
.market-container .a-market-tile[random-placement-index="34"] .a-cube:nth-child(2) {
  left: 54%;
  top: 26%;
}
.market-container .a-market-tile[random-placement-index="34"] .a-cube:nth-child(3) {
  left: 20%;
  top: 40%;
}
.market-container .a-market-tile[random-placement-index="35"] .a-cube:nth-child(1) {
  left: 21%;
  top: 49%;
}
.market-container .a-market-tile[random-placement-index="35"] .a-cube:nth-child(2) {
  left: 38%;
  top: 20%;
}
.market-container .a-market-tile[random-placement-index="35"] .a-cube:nth-child(3) {
  left: 44%;
  top: 57%;
}
.market-container .a-market-tile[random-placement-index="36"] .a-cube:nth-child(1) {
  left: 49%;
  top: 43%;
}
.market-container .a-market-tile[random-placement-index="36"] .a-cube:nth-child(2) {
  left: 23%;
  top: 44%;
}
.market-container .a-market-tile[random-placement-index="36"] .a-cube:nth-child(3) {
  left: 25%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="37"] .a-cube:nth-child(1) {
  left: 36%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="37"] .a-cube:nth-child(2) {
  left: 44%;
  top: 24%;
}
.market-container .a-market-tile[random-placement-index="37"] .a-cube:nth-child(3) {
  left: 60%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="38"] .a-cube:nth-child(1) {
  left: 23%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="38"] .a-cube:nth-child(2) {
  left: 56%;
  top: 40%;
}
.market-container .a-market-tile[random-placement-index="38"] .a-cube:nth-child(3) {
  left: 22%;
  top: 28%;
}
.market-container .a-market-tile[random-placement-index="39"] .a-cube:nth-child(1) {
  left: 50%;
  top: 47%;
}
.market-container .a-market-tile[random-placement-index="39"] .a-cube:nth-child(2) {
  left: 25%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="39"] .a-cube:nth-child(3) {
  left: 60%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="40"] .a-cube:nth-child(1) {
  left: 40%;
  top: 30%;
}
.market-container .a-market-tile[random-placement-index="40"] .a-cube:nth-child(2) {
  left: 32%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="40"] .a-cube:nth-child(3) {
  left: 59%;
  top: 58%;
}
.market-container .a-market-tile[random-placement-index="41"] .a-cube:nth-child(1) {
  left: 22%;
  top: 25%;
}
.market-container .a-market-tile[random-placement-index="41"] .a-cube:nth-child(2) {
  left: 29%;
  top: 56%;
}
.market-container .a-market-tile[random-placement-index="41"] .a-cube:nth-child(3) {
  left: 55%;
  top: 41%;
}
.market-container .a-market-tile[random-placement-index="42"] .a-cube:nth-child(1) {
  left: 24%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="42"] .a-cube:nth-child(2) {
  left: 45%;
  top: 28%;
}
.market-container .a-market-tile[random-placement-index="42"] .a-cube:nth-child(3) {
  left: 48%;
  top: 57%;
}
.market-container .a-market-tile[random-placement-index="43"] .a-cube:nth-child(1) {
  left: 54%;
  top: 44%;
}
.market-container .a-market-tile[random-placement-index="43"] .a-cube:nth-child(2) {
  left: 28%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="43"] .a-cube:nth-child(3) {
  left: 28%;
  top: 52%;
}
.market-container .a-market-tile[random-placement-index="44"] .a-cube:nth-child(1) {
  left: 39%;
  top: 23%;
}
.market-container .a-market-tile[random-placement-index="44"] .a-cube:nth-child(2) {
  left: 29%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="44"] .a-cube:nth-child(3) {
  left: 54%;
  top: 55%;
}
.market-container .a-market-tile[random-placement-index="45"] .a-cube:nth-child(1) {
  left: 22%;
  top: 25%;
}
.market-container .a-market-tile[random-placement-index="45"] .a-cube:nth-child(2) {
  left: 45%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="45"] .a-cube:nth-child(3) {
  left: 48%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="46"] .a-cube:nth-child(1) {
  left: 42%;
  top: 52%;
}
.market-container .a-market-tile[random-placement-index="46"] .a-cube:nth-child(2) {
  left: 47%;
  top: 20%;
}
.market-container .a-market-tile[random-placement-index="46"] .a-cube:nth-child(3) {
  left: 21%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="47"] .a-cube:nth-child(1) {
  left: 38%;
  top: 27%;
}
.market-container .a-market-tile[random-placement-index="47"] .a-cube:nth-child(2) {
  left: 36%;
  top: 58%;
}
.market-container .a-market-tile[random-placement-index="47"] .a-cube:nth-child(3) {
  left: 59%;
  top: 58%;
}
.market-container .a-market-tile[random-placement-index="48"] .a-cube:nth-child(1) {
  left: 23%;
  top: 42%;
}
.market-container .a-market-tile[random-placement-index="48"] .a-cube:nth-child(2) {
  left: 59%;
  top: 32%;
}
.market-container .a-market-tile[random-placement-index="48"] .a-cube:nth-child(3) {
  left: 55%;
  top: 56%;
}
.market-container .a-market-tile[random-placement-index="49"] .a-cube:nth-child(1) {
  left: 41%;
  top: 44%;
}
.market-container .a-market-tile[random-placement-index="49"] .a-cube:nth-child(2) {
  left: 23%;
  top: 20%;
}
.market-container .a-market-tile[random-placement-index="49"] .a-cube:nth-child(3) {
  left: 51%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="50"] .a-cube:nth-child(1) {
  left: 44%;
  top: 45%;
}
.market-container .a-market-tile[random-placement-index="50"] .a-cube:nth-child(2) {
  left: 20%;
  top: 36%;
}
.market-container .a-market-tile[random-placement-index="50"] .a-cube:nth-child(3) {
  left: 52%;
  top: 20%;
}
.market-container .a-market-tile[random-placement-index="51"] .a-cube:nth-child(1) {
  left: 27%;
  top: 43%;
}
.market-container .a-market-tile[random-placement-index="51"] .a-cube:nth-child(2) {
  left: 55%;
  top: 31%;
}
.market-container .a-market-tile[random-placement-index="51"] .a-cube:nth-child(3) {
  left: 60%;
  top: 57%;
}
.market-container .a-market-tile[random-placement-index="52"] .a-cube:nth-child(1) {
  left: 50%;
  top: 41%;
}
.market-container .a-market-tile[random-placement-index="52"] .a-cube:nth-child(2) {
  left: 26%;
  top: 26%;
}
.market-container .a-market-tile[random-placement-index="52"] .a-cube:nth-child(3) {
  left: 24%;
  top: 58%;
}
.market-container .a-market-tile[random-placement-index="53"] .a-cube:nth-child(1) {
  left: 28%;
  top: 32%;
}
.market-container .a-market-tile[random-placement-index="53"] .a-cube:nth-child(2) {
  left: 52%;
  top: 38%;
}
.market-container .a-market-tile[random-placement-index="53"] .a-cube:nth-child(3) {
  left: 27%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="54"] .a-cube:nth-child(1) {
  left: 34%;
  top: 35%;
}
.market-container .a-market-tile[random-placement-index="54"] .a-cube:nth-child(2) {
  left: 20%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="54"] .a-cube:nth-child(3) {
  left: 50%;
  top: 58%;
}
.market-container .a-market-tile[random-placement-index="55"] .a-cube:nth-child(1) {
  left: 23%;
  top: 38%;
}
.market-container .a-market-tile[random-placement-index="55"] .a-cube:nth-child(2) {
  left: 58%;
  top: 36%;
}
.market-container .a-market-tile[random-placement-index="55"] .a-cube:nth-child(3) {
  left: 51%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="56"] .a-cube:nth-child(1) {
  left: 44%;
  top: 46%;
}
.market-container .a-market-tile[random-placement-index="56"] .a-cube:nth-child(2) {
  left: 20%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="56"] .a-cube:nth-child(3) {
  left: 49%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="57"] .a-cube:nth-child(1) {
  left: 51%;
  top: 56%;
}
.market-container .a-market-tile[random-placement-index="57"] .a-cube:nth-child(2) {
  left: 24%;
  top: 46%;
}
.market-container .a-market-tile[random-placement-index="57"] .a-cube:nth-child(3) {
  left: 22%;
  top: 23%;
}
.market-container .a-market-tile[random-placement-index="58"] .a-cube:nth-child(1) {
  left: 33%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="58"] .a-cube:nth-child(2) {
  left: 32%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="58"] .a-cube:nth-child(3) {
  left: 60%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="59"] .a-cube:nth-child(1) {
  left: 35%;
  top: 57%;
}
.market-container .a-market-tile[random-placement-index="59"] .a-cube:nth-child(2) {
  left: 58%;
  top: 20%;
}
.market-container .a-market-tile[random-placement-index="59"] .a-cube:nth-child(3) {
  left: 59%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="60"] .a-cube:nth-child(1) {
  left: 41%;
  top: 36%;
}
.market-container .a-market-tile[random-placement-index="60"] .a-cube:nth-child(2) {
  left: 59%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="60"] .a-cube:nth-child(3) {
  left: 27%;
  top: 59%;
}

:root {
  --cube-size: 28px;
  --bg-gradient-tooltip: linear-gradient(100deg, #ffcae7f7, #ffd6a5fa);
  --bg-gradient: linear-gradient(130deg, #ffcae7e0, #ffd6a5fa);
  --status-bar-color: #ffe6e6ef;
  --gamearea-avatar-size: 40px;
  --market-tile-glow-color: #2a119ac2;
  --pyramid-cube-width: var(--cube-size);
  --cubes-container-height: 100px;
  --max-cube-width: 200px;
  --image-source-market-tiles: url(img/market_tiles_minified.jpg);
  --image-source-player-order-tiles: url(img/player_order_tiles_minified.jpg);
  --image-source-bonus-cards: url(img/bonus_cards_minified.jpg);
  --image-source-bonus-card-icons: url(img/bonus_card_icons_minified.jpg);
}

#player-tables {
  text-align: center;
}
#player-tables .pyramids-container {
  margin-top: 40px;
}
#player-tables .pyramids-container .a-pyramid-container {
  position: relative;
  width: 48%;
  margin: 1%;
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 0 var(--player-color, #000000), -2px 2px 0 var(--player-color, #000000);
  display: inline-block;
  max-width: 400px;
}
#player-tables .pyramids-container .a-pyramid-container .player-name-text {
  display: flex;
  align-items: center;
  width: calc(100% + 4px);
  position: absolute;
  font-size: 22px;
  transform: translateY(-50%);
  top: 1px;
  left: -2px;
}
#player-tables .pyramids-container .a-pyramid-container .player-name-text:before {
  content: "";
  width: 20px;
  box-shadow: 0px -2px 0 0px var(--player-color, #000000);
  margin-right: 10px;
  height: 2px;
  top: 2px;
  position: relative;
}
#player-tables .pyramids-container .a-pyramid-container .player-name-text:after {
  flex-grow: 1;
  content: "";
  box-shadow: 0px -2px 0 0px var(--player-color, #000000);
  margin-left: 10px;
  height: 2px;
  top: 2px;
  position: relative;
}
#player-tables .pyramids-container .a-pyramid-container .player-name-text .text-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  color: var(--player-color, #000000);
  text-shadow: 2px 0 #FFFFFF, -2px 0 #FFFFFF, 0 2px #FFFFFF, 0 -2px #FFFFFF, 1px 1px #FFFFFF, -1px -1px #FFFFFF, 1px -1px #FFFFFF, -1px 1px #FFFFFF;
}
#player-tables .pyramids-container .a-pyramid-container .turn-order-container {
  position: absolute;
  top: -6%;
  right: 2%;
  width: 14%;
  aspect-ratio: 0.7;
  background-image: var(--image-source-player-order-tiles);
  background-size: 400% 100%;
  background-repeat: no-repeat;
  transform: rotate(8deg);
  transition: transform 0.2s ease;
  cursor: help;
}
#player-tables .pyramids-container .a-pyramid-container .turn-order-container:hover {
  animation: wiggle 0.25s ease-in-out 2;
}
#player-tables .pyramids-container .a-pyramid-container .turn-order-container[turn-order="1"] {
  background-position-x: 0%;
}
#player-tables .pyramids-container .a-pyramid-container .turn-order-container[turn-order="2"] {
  background-position-x: 33.33%;
}
#player-tables .pyramids-container .a-pyramid-container .turn-order-container[turn-order="3"] {
  background-position-x: 66.66%;
}
#player-tables .pyramids-container .a-pyramid-container .turn-order-container[turn-order="4"] {
  background-position-x: 100%;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container:hover .a-cube {
  animation: shine-cube 1.6s ease-in-out;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .a-cube, #player-tables .pyramids-container .a-pyramid-container .cubes-container .pyramid-cube-snap-point, #player-tables .pyramids-container .a-pyramid-container .cubes-container .switch-color-button {
  position: absolute;
  width: var(--pyramid-cube-width, 0px);
  height: var(--pyramid-cube-width, 0px);
  max-width: var(--pyramid-cube-width, 0px);
  max-height: var(--pyramid-cube-width, 0px);
  transform: translate(-50%, -50%);
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .pyramid-cube-snap-point {
  z-index: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.24);
  outline: 1px solid;
  outline-color: rgba(var(--player-color-hex), 0.5);
  outline-offset: -1px;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .a-cube {
  z-index: 1;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .a-cube .cube-background {
  top: 18%;
  left: 14%;
  width: 92%;
  height: 92%;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .a-cube.animating-cube {
  z-index: 100 !important;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .switch-color-button {
  z-index: 100;
  opacity: 0;
  transition: opacity 0.2s ease;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .switch-color-button .switch-color-icon {
  opacity: 0.82;
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 0.5px 0.5px #000000, -0.5px -0.5px #000000, 0.5px -0.5px #000000, -0.5px 0.5px #000000;
  font-size: calc(var(--cubes-container-height, 40px) * 0.21);
}
#player-tables .pyramids-container .a-pyramid-container[build-pyramid-enabled=true] .pyramid-cube-snap-point {
  cursor: pointer;
}
#player-tables .pyramids-container .a-pyramid-container[build-pyramid-enabled=true] .switch-color-button {
  cursor: pointer;
}

.a-cube {
  width: var(--cube-size);
  height: var(--cube-size);
  position: absolute;
  transition: transform 0.2s ease;
}
.a-cube .top-side, .a-cube .right-side, .a-cube .bottom-side {
  z-index: 1;
  background-blend-mode: overlay;
  background-color: var(--cube-color);
}
.a-cube .top-side {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("img/wood_texture_overlay.png"), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)), linear-gradient(135deg, transparent 0%, rgba(255, 255, 255, 0.4) 50%, transparent 100%);
  background-position: var(--top-bg-x) var(--top-bg-y), 0 0, 150% 150%;
  background-size: auto, 100% 100%, 300% 300%;
  background-repeat: no-repeat, no-repeat, no-repeat;
}
.a-cube .right-side {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 136%;
  filter: brightness(0.85);
  clip-path: polygon(86% 20%, 59.8% -2%, 59% 74%, 86% 93.3%);
  top: 0%;
  left: 39.1%;
  background-position: var(--side-bg-x) var(--side-bg-y);
  background-image: url("img/wood_texture_overlay.png"), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
}
.a-cube .bottom-side {
  z-index: 1;
  position: absolute;
  width: 139%;
  height: 71%;
  filter: brightness(0.9);
  clip-path: polygon(18.6% 39%, 90% 39%, 71% 0%, -2% 0%);
  top: 98.6%;
  left: 0%;
  background-position: var(--bottom-bg-x) var(--bottom-bg-y);
  background-image: url("img/wood_texture_overlay.png"), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
}
.a-cube .cube-background {
  z-index: 0;
  width: 102%;
  height: 102%;
  top: 5%;
  left: 0%;
  transform: scale(1.32);
  transform-origin: 11% 23%;
  position: absolute;
  background-size: contain, 300% 100%;
  background-repeat: no-repeat, no-repeat;
  background-image: url(img/cube_background.png), linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.4) 50%, transparent 100%);
  background-position: center, -100% 0;
  filter: blur(1px);
}
.a-cube.selected-for-pyramid {
  opacity: 0.6;
}
.a-cube.selected-for-pyramid .cube-background {
  display: none;
}
.a-cube.built-in-pyramid {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.a-cube.built-in-pyramid .cube-background {
  display: none;
}

.market-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}
.market-container .market-tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: calc(var(--cube-size) * 0.9);
  margin-left: calc(var(--cube-size) * 5.9);
}
.market-container .market-tiles-container .a-market-tile {
  --market-tile-size: calc(var(--cube-size) * 6);
  width: var(--market-tile-size);
  height: var(--market-tile-size);
  margin: 5px;
  display: inline-block;
  box-shadow: 2px 2px 4px #000000;
  border-radius: 8px;
  position: relative;
  background-image: var(--image-source-market-tiles);
  background-repeat: no-repeat;
  background-size: 400%;
  will-change: transform;
}
.market-container .market-tiles-container .a-market-tile:hover .cubes-container .a-cube {
  animation: shine-cube 1.6s ease-in-out;
}
.market-container .market-tiles-container .a-market-tile[market-index="0"] {
  background-position-x: 0%;
}
.market-container .market-tiles-container .a-market-tile[market-index="1"] {
  background-position-x: 33.33%;
}
.market-container .market-tiles-container .a-market-tile[market-index="2"] {
  background-position-x: 66.66%;
}
.market-container .market-tiles-container .a-market-tile[market-index="3"] {
  background-position-x: 100%;
}
.market-container .market-tiles-container .a-market-tile.selected-market-tile {
  outline: none;
  box-shadow: 2px 2px 4px #000000, 0 0 0 3px rgba(255, 230, 11, 0.3764705882), 0 0 12px 5px rgba(255, 230, 11, 0.1882352941), 0 0 20px 8px rgba(255, 230, 11, 0.1254901961);
  animation: pulse 0.5s ease-in-out;
}
.market-container .market-tiles-container .a-market-tile.selectable-market-tile {
  animation: selectable-market-tile-glow-animation 2.2s ease-out infinite;
}
.market-container .market-tiles-container .a-market-tile .collecting-player-avatar {
  position: absolute;
  top: -10px;
  left: 50%;
  width: var(--gamearea-avatar-size);
  height: var(--gamearea-avatar-size);
}
.market-container .market-tiles-container .a-market-tile.selectable-market-tile {
  cursor: pointer;
}
.market-container .waiting-players-container {
  position: absolute;
  bottom: -18px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(-50%);
  left: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.market-container .waiting-players-container .pending-player-avatar {
  display: inline-block;
  width: var(--gamearea-avatar-size);
  height: var(--gamearea-avatar-size);
  margin: 10px;
  margin-left: calc(var(--gamearea-avatar-size) * 0.5 + 10px);
  margin-right: calc(var(--gamearea-avatar-size) * -0.5 + 10px);
}
.market-container .bonus-cards-container {
  width: calc(var(--cube-size) * 3);
  min-width: 140px;
  position: relative;
}
.market-container .bonus-cards-container .a-bonus-card-icon {
  width: 100%;
  aspect-ratio: 2.7;
  margin-top: calc(var(--cube-size) * 0.2);
  cursor: help;
  background-color: #002f35;
  background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='180' height='100' viewBox='0 0 180 100'> <polygon points='50,-46 95,40 5,40' fill='%2384b578' transform='rotate(90, 50, 50)'/> </svg>"), url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='180' height='100' viewBox='0 0 180 100'> <polygon points='94,34 139,120 49,120' fill='%2384b578' transform='rotate(-90, 90, 50)'/> </svg>");
  background-size: 10% 18%, 10% 18%;
  background-repeat: repeat-y, repeat-y;
  background-position: 2% 0, 95% 0;
  transform: scaleX(-1);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.market-container .bonus-cards-container .a-bonus-card-icon::before {
  content: "";
  position: absolute;
  inset: -5% 12% -13% 12%;
  background-image: var(--image-source-bonus-card-icons);
  background-size: 500% 400%;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}
.market-container .bonus-cards-container .a-bonus-card-icon::after {
  content: "";
  position: absolute;
  inset: -100% -100% -100% -100%;
  background: linear-gradient(135deg, transparent 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.6) 43%, rgba(255, 255, 255, 0) 51%, transparent 100%);
  background-size: 200% 200%;
  background-position: 0% 0%;
  pointer-events: none;
  transform: scaleX(-1);
  opacity: 0;
}
.market-container .bonus-cards-container .a-bonus-card-icon:hover::after {
  opacity: 1;
  animation: shine-bonus 0.8s ease-out;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="0"]::before {
  background-position: 0% 0%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="1"]::before {
  background-position: 25% 0%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="2"]::before {
  background-position: 50% 0%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="3"]::before {
  background-position: 75% 0%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="4"]::before {
  background-position: 100% 0%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="5"]::before {
  background-position: 0% 33.33%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="6"]::before {
  background-position: 25% 33.33%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="7"]::before {
  background-position: 50% 33.33%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="8"]::before {
  background-position: 75% 33.33%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="9"]::before {
  background-position: 100% 33.33%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="10"]::before {
  background-position: 0% 66.66%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="11"]::before {
  background-position: 25% 66.66%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="12"]::before {
  background-position: 50% 66.66%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="13"]::before {
  background-position: 75% 66.66%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="14"]::before {
  background-position: 100% 66.66%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="15"]::before {
  background-position: 0% 99.99%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="16"]::before {
  background-position: 25% 99.99%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="17"]::before {
  background-position: 50% 99.99%;
}
.market-container .bonus-cards-container .a-bonus-card-icon[bonus-card-id="18"]::before {
  background-position: 75% 99.99%;
}

.gamestate_allSelectMarketTile .a-market-tile {
  cursor: pointer;
}

.a-market-tile-icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.a-market-tile-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image-source-market-tiles);
  background-size: 400%;
  background-repeat: no-repeat;
  clip-path: inset(42% 7% 7% 42%);
  width: 170%;
  height: 170%;
  top: -70%;
  left: -70%;
  pointer-events: none;
}
.a-market-tile-icon::after {
  content: "";
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  outline: 4px solid #f0d0d4;
  border-radius: 5px;
  top: 0%;
  left: 0%;
  outline-offset: -2px;
}
.a-market-tile-icon[market-index="0"]::before {
  background-position-x: 0%;
  clip-path: inset(42% 42% 7% 7%);
  left: -10%;
}
.a-market-tile-icon[market-index="1"]::before {
  background-position-x: 33.33%;
}
.a-market-tile-icon[market-index="2"]::before {
  background-position-x: 66.66%;
}
.a-market-tile-icon[market-index="3"]::before {
  background-position-x: 100%;
}
.a-market-tile-icon[market-index="0"]::after {
  outline-color: var(--market-tile-color-0);
}
.a-market-tile-icon[market-index="1"]::after {
  outline-color: var(--market-tile-color-1);
}
.a-market-tile-icon[market-index="2"]::after {
  outline-color: var(--market-tile-color-2);
}
.a-market-tile-icon[market-index="3"]::after {
  outline-color: var(--market-tile-color-3);
}

.yaxha-player-avatar {
  border-radius: 100%;
  outline: 3px solid var(--player-color);
  transform: translateX(-50%);
}
.yaxha-player-avatar img {
  border-radius: 100%;
}

#page-title, .current_player_is_active #page-title, .gamestate_gameEnd #page-title, .roundedbox, .pageheader {
  background-color: var(--status-bar-color);
}

.log_replayable:hover {
  background-color: var(--status-bar-color);
}

#page-title .a-market-tile-icon {
  width: 38px;
  height: 38px;
  margin: -5px 0px -5px 3px;
}
#page-title .cube-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
}
#page-title .cube-wrapper .a-cube {
  position: relative;
  top: -4px;
  display: inline-block;
  margin-right: 12px;
}
#page-title .confirm-place-cube-button {
  margin-left: 5px;
}
#page-title .undo-place-cube-button {
  margin-left: 5px;
}

.log.a-game-log {
  position: relative;
}
.log.a-game-log .roundedbox {
  background: var(--bg-gradient);
  padding-bottom: 5px;
}
.log.all-selected-tiles-log .a-market-tile-icon, .log.individual-collected-tiles-log .a-market-tile-icon {
  width: 30px;
  height: 30px;
  margin: 1px 0px;
}
.log.all-selected-tiles-log .a-market-tile-icon::before, .log.individual-collected-tiles-log .a-market-tile-icon::before {
  clip-path: inset(31% 7% 7% 31%);
  width: 130%;
  height: 130%;
  top: -35%;
  left: -35%;
}
.log.all-selected-tiles-log .a-market-tile-icon[market-index="0"]::before, .log.individual-collected-tiles-log .a-market-tile-icon[market-index="0"]::before {
  clip-path: inset(32% 32% 7% 7%);
  left: -4%;
}
.log.all-selected-tiles-log .player-selected-market-tile-row {
  position: relative;
}
.log.all-selected-tiles-log .player-selected-market-tile-row.pending .log-arrow-left {
  opacity: 0.6;
}
.log.all-selected-tiles-log .player-selected-market-tile-row.collecting + .pending {
  margin-top: 10px;
}
.log.all-selected-tiles-log .player-selected-market-tile-row.collecting + .pending::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 1%;
  width: 97%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4392156863);
}
.log.all-selected-tiles-log .market-interaction-rows-wrapper {
  display: inline-block;
  width: 100%;
}
.log.individual-collected-tiles-log .player-collected-market-tile-row {
  display: inline-block;
}
.log.display-built-cubes-log {
  margin-left: 30px;
}
.log.display-built-cubes-log .built-cubes-rows-wrapper {
  display: inline-block;
}
.log.display-built-cubes-log .built-cubes-rows-wrapper .player-built-cubes-row .a-cube {
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 13px;
  margin-top: 2px;
}
.log.display-built-cubes-log .built-cubes-rows-wrapper .player-built-cubes-row:last-child .a-cube {
  margin-bottom: 8px;
}
.log .log-arrow {
  color: #000 !important;
}
.log .log-arrow.log-arrow-left {
  margin-left: 5px;
  margin-right: 5px;
}
.log .log-arrow.log-place-cube-icon {
  margin-left: 2px;
  margin-right: 5px;
}

.mobile_version .log.all-selected-tiles-log .market-interaction-rows-wrapper {
  width: 92%;
}
.mobile_version .log.all-selected-tiles-log .player-selected-market-tile-row.collecting + .pending::before {
  width: 105%;
}

.dijitTooltipContainer:has(.tooltip-wrapper) {
  background: none;
}
.dijitTooltipContainer .tooltip-wrapper {
  background: var(--bg-gradient-tooltip);
  padding: 10px;
  margin: -6px -6px -6px -6px;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip {
  max-width: 200px;
}
.dijitTooltipContainer .tooltip-wrapper .tooltip-text {
  font-size: 16px;
  color: rgba(7, 0, 49, 0.8509803922);
  text-shadow: 2px 0 rgba(255, 202, 231, 0.8784313725), -2px 0 rgba(255, 202, 231, 0.8784313725), 0 2px rgba(255, 202, 231, 0.8784313725), 0 -2px rgba(255, 202, 231, 0.8784313725), 1px 1px rgba(255, 202, 231, 0.8784313725), -1px -1px rgba(255, 202, 231, 0.8784313725), 1px -1px rgba(255, 202, 231, 0.8784313725), -1px 1px rgba(255, 202, 231, 0.8784313725);
  text-indent: 6px;
  text-align: center;
}
.dijitTooltipContainer .tooltip-wrapper .tooltip-image {
  width: 200px;
  height: 280px;
  background-image: var(--image-source-bonus-cards);
  background-size: 500% 400%;
  background-repeat: no-repeat;
  margin-top: 10px;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="0"] .tooltip-image {
  background-position: 0% 0%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="1"] .tooltip-image {
  background-position: 25% 0%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="2"] .tooltip-image {
  background-position: 50% 0%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="3"] .tooltip-image {
  background-position: 75% 0%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="4"] .tooltip-image {
  background-position: 100% 0%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="5"] .tooltip-image {
  background-position: 0% 33.33%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="6"] .tooltip-image {
  background-position: 25% 33.33%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="7"] .tooltip-image {
  background-position: 50% 33.33%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="8"] .tooltip-image {
  background-position: 75% 33.33%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="9"] .tooltip-image {
  background-position: 100% 33.33%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="10"] .tooltip-image {
  background-position: 0% 66.66%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="11"] .tooltip-image {
  background-position: 25% 66.66%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="12"] .tooltip-image {
  background-position: 50% 66.66%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="13"] .tooltip-image {
  background-position: 75% 66.66%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="14"] .tooltip-image {
  background-position: 100% 66.66%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="15"] .tooltip-image {
  background-position: 0% 99.99%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="16"] .tooltip-image {
  background-position: 25% 99.99%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="17"] .tooltip-image {
  background-position: 50% 99.99%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip[bonus-card-id="18"] .tooltip-image {
  background-position: 75% 99.99%;
}

.tundra:has(.tooltip-wrapper) { /* to change the color of the little tooltip arrow */ }
.tundra:has(.tooltip-wrapper) .dijitTooltip .dijitTooltipConnector {
  overflow: hidden;
  background: none;
}
.tundra:has(.tooltip-wrapper) .dijitTooltip .dijitTooltipConnector:after {
  content: "";
  position: absolute;
  width: 86%;
  background: var(--bg-gradient-tooltip);
  aspect-ratio: 1;
}
.tundra:has(.tooltip-wrapper) .dijitTooltip.dijitTooltipAbove .dijitTooltipConnector::after {
  top: -52%;
  transform: scale(0.75, 1.1) rotate(45deg);
  box-shadow: -1px -1px 2px 2px #adadad;
}
.tundra:has(.tooltip-wrapper) .dijitTooltip.dijitTooltipBelow .dijitTooltipConnector::after {
  bottom: -52%;
  transform: scale(0.75, 1.1) rotate(45deg);
  box-shadow: 1px 1px 2px 2px #adadad;
}
.tundra:has(.tooltip-wrapper) .dijitTooltip.dijitTooltipRight .dijitTooltipConnector::after {
  right: -47%;
  transform: scale(1.1, 0.75) rotate(45deg);
  box-shadow: 1px -1px 2px 2px #adadad;
}
.tundra:has(.tooltip-wrapper) .dijitTooltip.dijitTooltipLeft .dijitTooltipConnector::after {
  left: -47%;
  transform: scale(1.1, 0.75) rotate(45deg);
  box-shadow: -1px 1px 2px 2px #adadad;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shine-cube {
  to {
    background-position: var(--top-bg-x) var(--top-bg-y), 0 0, -150% -150%;
  }
}
@keyframes shine-bonus {
  0% {
    background-position: 70% 70%;
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  100% {
    background-position: 0% 0%;
    opacity: 0;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
@keyframes selectable-market-tile-glow-animation {
  0% {
    box-shadow: 0 0 4px 4px var(--market-tile-glow-color);
  }
  40% {
    box-shadow: 0 0 8px 8px var(--market-tile-glow-color);
  }
  80% {
    box-shadow: 0 0 4px 4px var(--market-tile-glow-color);
  }
  100% {
    box-shadow: 0 0 4px 4px var(--market-tile-glow-color);
  }
}

/*# sourceMappingURL=yaxha.css.map */
