.market-container .a-market-tile[random-placement-index="1"] .a-cube:nth-child(1) {
  left: 50%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="1"] .a-cube:nth-child(2) {
  left: 24%;
  top: 56%;
}
.market-container .a-market-tile[random-placement-index="1"] .a-cube:nth-child(3) {
  left: 22%;
  top: 32%;
}
.market-container .a-market-tile[random-placement-index="2"] .a-cube:nth-child(1) {
  left: 27%;
  top: 55%;
}
.market-container .a-market-tile[random-placement-index="2"] .a-cube:nth-child(2) {
  left: 32%;
  top: 23%;
}
.market-container .a-market-tile[random-placement-index="2"] .a-cube:nth-child(3) {
  left: 54%;
  top: 47%;
}
.market-container .a-market-tile[random-placement-index="3"] .a-cube:nth-child(1) {
  left: 46%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="3"] .a-cube:nth-child(2) {
  left: 27%;
  top: 45%;
}
.market-container .a-market-tile[random-placement-index="3"] .a-cube:nth-child(3) {
  left: 55%;
  top: 49%;
}
.market-container .a-market-tile[random-placement-index="4"] .a-cube:nth-child(1) {
  left: 20%;
  top: 58%;
}
.market-container .a-market-tile[random-placement-index="4"] .a-cube:nth-child(2) {
  left: 57%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="4"] .a-cube:nth-child(3) {
  left: 20%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="5"] .a-cube:nth-child(1) {
  left: 42%;
  top: 54%;
}
.market-container .a-market-tile[random-placement-index="5"] .a-cube:nth-child(2) {
  left: 36%;
  top: 24%;
}
.market-container .a-market-tile[random-placement-index="5"] .a-cube:nth-child(3) {
  left: 59%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="6"] .a-cube:nth-child(1) {
  left: 31%;
  top: 55%;
}
.market-container .a-market-tile[random-placement-index="6"] .a-cube:nth-child(2) {
  left: 54%;
  top: 50%;
}
.market-container .a-market-tile[random-placement-index="6"] .a-cube:nth-child(3) {
  left: 33%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="7"] .a-cube:nth-child(1) {
  left: 46%;
  top: 25%;
}
.market-container .a-market-tile[random-placement-index="7"] .a-cube:nth-child(2) {
  left: 42%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="7"] .a-cube:nth-child(3) {
  left: 21%;
  top: 23%;
}
.market-container .a-market-tile[random-placement-index="8"] .a-cube:nth-child(1) {
  left: 56%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="8"] .a-cube:nth-child(2) {
  left: 60%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="8"] .a-cube:nth-child(3) {
  left: 20%;
  top: 40%;
}
.market-container .a-market-tile[random-placement-index="9"] .a-cube:nth-child(1) {
  left: 45%;
  top: 53%;
}
.market-container .a-market-tile[random-placement-index="9"] .a-cube:nth-child(2) {
  left: 47%;
  top: 27%;
}
.market-container .a-market-tile[random-placement-index="9"] .a-cube:nth-child(3) {
  left: 20%;
  top: 29%;
}
.market-container .a-market-tile[random-placement-index="10"] .a-cube:nth-child(1) {
  left: 50%;
  top: 26%;
}
.market-container .a-market-tile[random-placement-index="10"] .a-cube:nth-child(2) {
  left: 22%;
  top: 30%;
}
.market-container .a-market-tile[random-placement-index="10"] .a-cube:nth-child(3) {
  left: 44%;
  top: 55%;
}
.market-container .a-market-tile[random-placement-index="11"] .a-cube:nth-child(1) {
  left: 40%;
  top: 54%;
}
.market-container .a-market-tile[random-placement-index="11"] .a-cube:nth-child(2) {
  left: 60%;
  top: 27%;
}
.market-container .a-market-tile[random-placement-index="11"] .a-cube:nth-child(3) {
  left: 21%;
  top: 31%;
}
.market-container .a-market-tile[random-placement-index="12"] .a-cube:nth-child(1) {
  left: 45%;
  top: 46%;
}
.market-container .a-market-tile[random-placement-index="12"] .a-cube:nth-child(2) {
  left: 21%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="12"] .a-cube:nth-child(3) {
  left: 45%;
  top: 23%;
}
.market-container .a-market-tile[random-placement-index="13"] .a-cube:nth-child(1) {
  left: 27%;
  top: 27%;
}
.market-container .a-market-tile[random-placement-index="13"] .a-cube:nth-child(2) {
  left: 38%;
  top: 51%;
}
.market-container .a-market-tile[random-placement-index="13"] .a-cube:nth-child(3) {
  left: 56%;
  top: 26%;
}
.market-container .a-market-tile[random-placement-index="14"] .a-cube:nth-child(1) {
  left: 35%;
  top: 40%;
}
.market-container .a-market-tile[random-placement-index="14"] .a-cube:nth-child(2) {
  left: 58%;
  top: 34%;
}
.market-container .a-market-tile[random-placement-index="14"] .a-cube:nth-child(3) {
  left: 58%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="15"] .a-cube:nth-child(1) {
  left: 33%;
  top: 38%;
}
.market-container .a-market-tile[random-placement-index="15"] .a-cube:nth-child(2) {
  left: 57%;
  top: 31%;
}
.market-container .a-market-tile[random-placement-index="15"] .a-cube:nth-child(3) {
  left: 56%;
  top: 57%;
}
.market-container .a-market-tile[random-placement-index="16"] .a-cube:nth-child(1) {
  left: 58%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="16"] .a-cube:nth-child(2) {
  left: 21%;
  top: 37%;
}
.market-container .a-market-tile[random-placement-index="16"] .a-cube:nth-child(3) {
  left: 46%;
  top: 36%;
}
.market-container .a-market-tile[random-placement-index="17"] .a-cube:nth-child(1) {
  left: 30%;
  top: 40%;
}
.market-container .a-market-tile[random-placement-index="17"] .a-cube:nth-child(2) {
  left: 54%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="17"] .a-cube:nth-child(3) {
  left: 56%;
  top: 54%;
}
.market-container .a-market-tile[random-placement-index="18"] .a-cube:nth-child(1) {
  left: 60%;
  top: 24%;
}
.market-container .a-market-tile[random-placement-index="18"] .a-cube:nth-child(2) {
  left: 34%;
  top: 32%;
}
.market-container .a-market-tile[random-placement-index="18"] .a-cube:nth-child(3) {
  left: 55%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="19"] .a-cube:nth-child(1) {
  left: 20%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="19"] .a-cube:nth-child(2) {
  left: 45%;
  top: 55%;
}
.market-container .a-market-tile[random-placement-index="19"] .a-cube:nth-child(3) {
  left: 49%;
  top: 23%;
}
.market-container .a-market-tile[random-placement-index="20"] .a-cube:nth-child(1) {
  left: 58%;
  top: 44%;
}
.market-container .a-market-tile[random-placement-index="20"] .a-cube:nth-child(2) {
  left: 25%;
  top: 28%;
}
.market-container .a-market-tile[random-placement-index="20"] .a-cube:nth-child(3) {
  left: 34%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="21"] .a-cube:nth-child(1) {
  left: 60%;
  top: 44%;
}
.market-container .a-market-tile[random-placement-index="21"] .a-cube:nth-child(2) {
  left: 34%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="21"] .a-cube:nth-child(3) {
  left: 32%;
  top: 20%;
}
.market-container .a-market-tile[random-placement-index="22"] .a-cube:nth-child(1) {
  left: 33%;
  top: 53%;
}
.market-container .a-market-tile[random-placement-index="22"] .a-cube:nth-child(2) {
  left: 57%;
  top: 35%;
}
.market-container .a-market-tile[random-placement-index="22"] .a-cube:nth-child(3) {
  left: 26%;
  top: 29%;
}
.market-container .a-market-tile[random-placement-index="23"] .a-cube:nth-child(1) {
  left: 28%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="23"] .a-cube:nth-child(2) {
  left: 59%;
  top: 39%;
}
.market-container .a-market-tile[random-placement-index="23"] .a-cube:nth-child(3) {
  left: 24%;
  top: 46%;
}
.market-container .a-market-tile[random-placement-index="24"] .a-cube:nth-child(1) {
  left: 21%;
  top: 34%;
}
.market-container .a-market-tile[random-placement-index="24"] .a-cube:nth-child(2) {
  left: 46%;
  top: 38%;
}
.market-container .a-market-tile[random-placement-index="24"] .a-cube:nth-child(3) {
  left: 21%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="25"] .a-cube:nth-child(1) {
  left: 49%;
  top: 31%;
}
.market-container .a-market-tile[random-placement-index="25"] .a-cube:nth-child(2) {
  left: 20%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="25"] .a-cube:nth-child(3) {
  left: 47%;
  top: 58%;
}
.market-container .a-market-tile[random-placement-index="26"] .a-cube:nth-child(1) {
  left: 20%;
  top: 57%;
}
.market-container .a-market-tile[random-placement-index="26"] .a-cube:nth-child(2) {
  left: 44%;
  top: 23%;
}
.market-container .a-market-tile[random-placement-index="26"] .a-cube:nth-child(3) {
  left: 59%;
  top: 56%;
}
.market-container .a-market-tile[random-placement-index="27"] .a-cube:nth-child(1) {
  left: 35%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="27"] .a-cube:nth-child(2) {
  left: 21%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="27"] .a-cube:nth-child(3) {
  left: 55%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="28"] .a-cube:nth-child(1) {
  left: 41%;
  top: 46%;
}
.market-container .a-market-tile[random-placement-index="28"] .a-cube:nth-child(2) {
  left: 23%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="28"] .a-cube:nth-child(3) {
  left: 49%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="29"] .a-cube:nth-child(1) {
  left: 49%;
  top: 28%;
}
.market-container .a-market-tile[random-placement-index="29"] .a-cube:nth-child(2) {
  left: 58%;
  top: 53%;
}
.market-container .a-market-tile[random-placement-index="29"] .a-cube:nth-child(3) {
  left: 29%;
  top: 54%;
}
.market-container .a-market-tile[random-placement-index="30"] .a-cube:nth-child(1) {
  left: 59%;
  top: 32%;
}
.market-container .a-market-tile[random-placement-index="30"] .a-cube:nth-child(2) {
  left: 34%;
  top: 30%;
}
.market-container .a-market-tile[random-placement-index="30"] .a-cube:nth-child(3) {
  left: 42%;
  top: 55%;
}
.market-container .a-market-tile[random-placement-index="31"] .a-cube:nth-child(1) {
  left: 29%;
  top: 56%;
}
.market-container .a-market-tile[random-placement-index="31"] .a-cube:nth-child(2) {
  left: 42%;
  top: 30%;
}
.market-container .a-market-tile[random-placement-index="31"] .a-cube:nth-child(3) {
  left: 52%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="32"] .a-cube:nth-child(1) {
  left: 38%;
  top: 24%;
}
.market-container .a-market-tile[random-placement-index="32"] .a-cube:nth-child(2) {
  left: 50%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="32"] .a-cube:nth-child(3) {
  left: 24%;
  top: 55%;
}
.market-container .a-market-tile[random-placement-index="33"] .a-cube:nth-child(1) {
  left: 49%;
  top: 32%;
}
.market-container .a-market-tile[random-placement-index="33"] .a-cube:nth-child(2) {
  left: 22%;
  top: 30%;
}
.market-container .a-market-tile[random-placement-index="33"] .a-cube:nth-child(3) {
  left: 33%;
  top: 57%;
}
.market-container .a-market-tile[random-placement-index="34"] .a-cube:nth-child(1) {
  left: 50%;
  top: 51%;
}
.market-container .a-market-tile[random-placement-index="34"] .a-cube:nth-child(2) {
  left: 54%;
  top: 26%;
}
.market-container .a-market-tile[random-placement-index="34"] .a-cube:nth-child(3) {
  left: 20%;
  top: 40%;
}
.market-container .a-market-tile[random-placement-index="35"] .a-cube:nth-child(1) {
  left: 21%;
  top: 49%;
}
.market-container .a-market-tile[random-placement-index="35"] .a-cube:nth-child(2) {
  left: 38%;
  top: 20%;
}
.market-container .a-market-tile[random-placement-index="35"] .a-cube:nth-child(3) {
  left: 44%;
  top: 57%;
}
.market-container .a-market-tile[random-placement-index="36"] .a-cube:nth-child(1) {
  left: 49%;
  top: 43%;
}
.market-container .a-market-tile[random-placement-index="36"] .a-cube:nth-child(2) {
  left: 23%;
  top: 44%;
}
.market-container .a-market-tile[random-placement-index="36"] .a-cube:nth-child(3) {
  left: 25%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="37"] .a-cube:nth-child(1) {
  left: 36%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="37"] .a-cube:nth-child(2) {
  left: 44%;
  top: 24%;
}
.market-container .a-market-tile[random-placement-index="37"] .a-cube:nth-child(3) {
  left: 60%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="38"] .a-cube:nth-child(1) {
  left: 23%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="38"] .a-cube:nth-child(2) {
  left: 56%;
  top: 40%;
}
.market-container .a-market-tile[random-placement-index="38"] .a-cube:nth-child(3) {
  left: 22%;
  top: 28%;
}
.market-container .a-market-tile[random-placement-index="39"] .a-cube:nth-child(1) {
  left: 50%;
  top: 47%;
}
.market-container .a-market-tile[random-placement-index="39"] .a-cube:nth-child(2) {
  left: 25%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="39"] .a-cube:nth-child(3) {
  left: 60%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="40"] .a-cube:nth-child(1) {
  left: 40%;
  top: 30%;
}
.market-container .a-market-tile[random-placement-index="40"] .a-cube:nth-child(2) {
  left: 32%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="40"] .a-cube:nth-child(3) {
  left: 59%;
  top: 58%;
}
.market-container .a-market-tile[random-placement-index="41"] .a-cube:nth-child(1) {
  left: 22%;
  top: 25%;
}
.market-container .a-market-tile[random-placement-index="41"] .a-cube:nth-child(2) {
  left: 29%;
  top: 56%;
}
.market-container .a-market-tile[random-placement-index="41"] .a-cube:nth-child(3) {
  left: 55%;
  top: 41%;
}
.market-container .a-market-tile[random-placement-index="42"] .a-cube:nth-child(1) {
  left: 24%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="42"] .a-cube:nth-child(2) {
  left: 45%;
  top: 28%;
}
.market-container .a-market-tile[random-placement-index="42"] .a-cube:nth-child(3) {
  left: 48%;
  top: 57%;
}
.market-container .a-market-tile[random-placement-index="43"] .a-cube:nth-child(1) {
  left: 54%;
  top: 44%;
}
.market-container .a-market-tile[random-placement-index="43"] .a-cube:nth-child(2) {
  left: 28%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="43"] .a-cube:nth-child(3) {
  left: 28%;
  top: 52%;
}
.market-container .a-market-tile[random-placement-index="44"] .a-cube:nth-child(1) {
  left: 39%;
  top: 23%;
}
.market-container .a-market-tile[random-placement-index="44"] .a-cube:nth-child(2) {
  left: 29%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="44"] .a-cube:nth-child(3) {
  left: 54%;
  top: 55%;
}
.market-container .a-market-tile[random-placement-index="45"] .a-cube:nth-child(1) {
  left: 22%;
  top: 25%;
}
.market-container .a-market-tile[random-placement-index="45"] .a-cube:nth-child(2) {
  left: 45%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="45"] .a-cube:nth-child(3) {
  left: 48%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="46"] .a-cube:nth-child(1) {
  left: 42%;
  top: 52%;
}
.market-container .a-market-tile[random-placement-index="46"] .a-cube:nth-child(2) {
  left: 47%;
  top: 20%;
}
.market-container .a-market-tile[random-placement-index="46"] .a-cube:nth-child(3) {
  left: 21%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="47"] .a-cube:nth-child(1) {
  left: 38%;
  top: 27%;
}
.market-container .a-market-tile[random-placement-index="47"] .a-cube:nth-child(2) {
  left: 36%;
  top: 58%;
}
.market-container .a-market-tile[random-placement-index="47"] .a-cube:nth-child(3) {
  left: 59%;
  top: 58%;
}
.market-container .a-market-tile[random-placement-index="48"] .a-cube:nth-child(1) {
  left: 23%;
  top: 42%;
}
.market-container .a-market-tile[random-placement-index="48"] .a-cube:nth-child(2) {
  left: 59%;
  top: 32%;
}
.market-container .a-market-tile[random-placement-index="48"] .a-cube:nth-child(3) {
  left: 55%;
  top: 56%;
}
.market-container .a-market-tile[random-placement-index="49"] .a-cube:nth-child(1) {
  left: 41%;
  top: 44%;
}
.market-container .a-market-tile[random-placement-index="49"] .a-cube:nth-child(2) {
  left: 23%;
  top: 20%;
}
.market-container .a-market-tile[random-placement-index="49"] .a-cube:nth-child(3) {
  left: 51%;
  top: 21%;
}
.market-container .a-market-tile[random-placement-index="50"] .a-cube:nth-child(1) {
  left: 44%;
  top: 45%;
}
.market-container .a-market-tile[random-placement-index="50"] .a-cube:nth-child(2) {
  left: 20%;
  top: 36%;
}
.market-container .a-market-tile[random-placement-index="50"] .a-cube:nth-child(3) {
  left: 52%;
  top: 20%;
}
.market-container .a-market-tile[random-placement-index="51"] .a-cube:nth-child(1) {
  left: 27%;
  top: 43%;
}
.market-container .a-market-tile[random-placement-index="51"] .a-cube:nth-child(2) {
  left: 55%;
  top: 31%;
}
.market-container .a-market-tile[random-placement-index="51"] .a-cube:nth-child(3) {
  left: 60%;
  top: 57%;
}
.market-container .a-market-tile[random-placement-index="52"] .a-cube:nth-child(1) {
  left: 50%;
  top: 41%;
}
.market-container .a-market-tile[random-placement-index="52"] .a-cube:nth-child(2) {
  left: 26%;
  top: 26%;
}
.market-container .a-market-tile[random-placement-index="52"] .a-cube:nth-child(3) {
  left: 24%;
  top: 58%;
}
.market-container .a-market-tile[random-placement-index="53"] .a-cube:nth-child(1) {
  left: 28%;
  top: 32%;
}
.market-container .a-market-tile[random-placement-index="53"] .a-cube:nth-child(2) {
  left: 52%;
  top: 38%;
}
.market-container .a-market-tile[random-placement-index="53"] .a-cube:nth-child(3) {
  left: 27%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="54"] .a-cube:nth-child(1) {
  left: 34%;
  top: 35%;
}
.market-container .a-market-tile[random-placement-index="54"] .a-cube:nth-child(2) {
  left: 20%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="54"] .a-cube:nth-child(3) {
  left: 50%;
  top: 58%;
}
.market-container .a-market-tile[random-placement-index="55"] .a-cube:nth-child(1) {
  left: 23%;
  top: 38%;
}
.market-container .a-market-tile[random-placement-index="55"] .a-cube:nth-child(2) {
  left: 58%;
  top: 36%;
}
.market-container .a-market-tile[random-placement-index="55"] .a-cube:nth-child(3) {
  left: 51%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="56"] .a-cube:nth-child(1) {
  left: 44%;
  top: 46%;
}
.market-container .a-market-tile[random-placement-index="56"] .a-cube:nth-child(2) {
  left: 20%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="56"] .a-cube:nth-child(3) {
  left: 49%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="57"] .a-cube:nth-child(1) {
  left: 51%;
  top: 56%;
}
.market-container .a-market-tile[random-placement-index="57"] .a-cube:nth-child(2) {
  left: 24%;
  top: 46%;
}
.market-container .a-market-tile[random-placement-index="57"] .a-cube:nth-child(3) {
  left: 22%;
  top: 23%;
}
.market-container .a-market-tile[random-placement-index="58"] .a-cube:nth-child(1) {
  left: 33%;
  top: 60%;
}
.market-container .a-market-tile[random-placement-index="58"] .a-cube:nth-child(2) {
  left: 32%;
  top: 22%;
}
.market-container .a-market-tile[random-placement-index="58"] .a-cube:nth-child(3) {
  left: 60%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="59"] .a-cube:nth-child(1) {
  left: 35%;
  top: 57%;
}
.market-container .a-market-tile[random-placement-index="59"] .a-cube:nth-child(2) {
  left: 58%;
  top: 20%;
}
.market-container .a-market-tile[random-placement-index="59"] .a-cube:nth-child(3) {
  left: 59%;
  top: 48%;
}
.market-container .a-market-tile[random-placement-index="60"] .a-cube:nth-child(1) {
  left: 41%;
  top: 36%;
}
.market-container .a-market-tile[random-placement-index="60"] .a-cube:nth-child(2) {
  left: 59%;
  top: 59%;
}
.market-container .a-market-tile[random-placement-index="60"] .a-cube:nth-child(3) {
  left: 27%;
  top: 59%;
}

body {
  background: url("img/yaxha_box_cover.webp") no-repeat, linear-gradient(to bottom right, #1e4b39 32%, #f8da5f 110%);
  background-position: 42% bottom, center bottom;
  background-attachment: fixed;
  background-size: 24%, cover;
}
body::before {
  content: "";
  position: fixed;
  top: calc(60px + 50%);
  transform: translateY(-50%);
  height: 36vh;
  width: 100%;
  pointer-events: none;
  background-repeat: repeat-y;
  background-position: 0% top, 99% top;
  background-size: 4vh 3vh;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='180'%20height='100'%20viewBox='0%200%20180%20100'%3E%3Cpolygon%20points='50,-46%2095,40%205,40'%20fill='%2384b578'%20transform='rotate(90,%2050,%2050)'/%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='180'%20height='100'%20viewBox='0%200%20180%20100'%3E%3Cpolygon%20points='94,34%20139,120%2049,120'%20fill='%2384b578'%20transform='rotate(-90,%2090,%2050)'/%3E%3C/svg%3E");
}

body.mobile_version {
  background-size: 48%, cover;
  background-position: center bottom, center bottom;
}
body.mobile_version::before {
  background-size: 3vh 2.2vh;
  height: 22.2vh;
  top: calc(100px + 50%);
}

:root {
  --market-cube-size: 28px;
  --bg-gradient-tooltip: linear-gradient(130deg, #a8c686f2, #e1eec8db);
  --bg-gradient: linear-gradient(130deg, #a8c686e0, #e1eec8c0);
  --player-board-gradient: linear-gradient(130deg, rgba(235, 213, 189, 0.8784313725) 46%, rgb(255 228 139 / 34%));
  --status-bar-color: #fff9dfe6;
  --market-tile-glow-color: #f8da5f80;
  --image-source-market-tiles: url(img/market_tiles_minified.webp);
  --image-source-player-order-tiles: url(img/player_order_tiles_minified.jpg);
  --image-source-bonus-cards: url(img/bonus_cards_minified.webp);
  --image-source-bonus-card-icons: url(img/bonus_card_icons_minified.jpg);
  --cubes-parallax-margin: 0px;
}

body {
  --pyramid-cube-size: 74px;
  --gamearea-avatar-size: 40px;
}
body.mobile_version {
  --pyramid-cube-size: 60px;
  --gamearea-avatar-size: 46px;
}

.player-board {
  background: var(--player-board-gradient);
}

.a-cube {
  width: var(--market-cube-size);
  height: var(--market-cube-size);
  position: absolute;
  transition: transform 0.2s ease;
}
.a-cube .top-side, .a-cube .right-side, .a-cube .bottom-side {
  z-index: 1;
  background-blend-mode: overlay;
  background-color: var(--cube-color);
}
.a-cube .top-side {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("img/wood_texture_overlay.png"), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)), linear-gradient(135deg, transparent 0%, rgba(255, 255, 255, 0.4) 50%, transparent 100%);
  background-position: var(--top-bg-x) var(--top-bg-y), 0 0, 150% 150%;
  background-size: auto, 100% 100%, 300% 300%;
  background-repeat: no-repeat, no-repeat, no-repeat;
}
.a-cube .right-side {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 136%;
  filter: brightness(0.85);
  clip-path: polygon(86% 20%, 59.8% -2%, 59% 74%, 86% 93.3%);
  top: 0%;
  left: 39.1%;
  background-position: var(--side-bg-x) var(--side-bg-y);
  background-image: url("img/wood_texture_overlay.png"), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
}
.a-cube .bottom-side {
  z-index: 1;
  position: absolute;
  width: 139%;
  height: 71%;
  filter: brightness(0.9);
  clip-path: polygon(18.6% 39%, 90% 39%, 71% 0%, -2% 0%);
  top: 98.6%;
  left: 0%;
  background-position: var(--bottom-bg-x) var(--bottom-bg-y);
  background-image: url("img/wood_texture_overlay.png"), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
}
.a-cube .cube-background {
  z-index: 0;
  width: 102%;
  height: 102%;
  top: 5%;
  left: 0%;
  transform: scale(1.32);
  transform-origin: 11% 23%;
  position: absolute;
  background-repeat: no-repeat, no-repeat;
  background-image: url(img/cube_backgrounds.png), linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.4) 50%, transparent 100%);
  filter: blur(1px);
  background-size: 200% 100%;
  background-position: 100%;
}
.a-cube[built-status] {
  transition: opacity 0.2s ease;
}
.a-cube[built-status] .cube-background {
  display: none;
}
.a-cube[built-status=selected-cube] {
  opacity: 0.6;
}
.a-cube[built-status=built-cube], .a-cube[built-status=discarded-cube] {
  opacity: 0;
}

.market-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}
.market-container .market-tiles-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: calc(var(--market-cube-size) * 0.9);
}
.market-container .market-tiles-container .a-market-tile {
  --market-tile-size: calc(var(--market-cube-size) * 6);
  width: var(--market-tile-size);
  height: var(--market-tile-size);
  margin: 5px;
  display: inline-block;
  box-shadow: 2px 2px 4px #000000;
  border-radius: 8px;
  position: relative;
  background-image: var(--image-source-market-tiles);
  background-repeat: no-repeat;
  background-size: 400%;
}
.market-container .market-tiles-container .a-market-tile:hover .cubes-container .a-cube .top-side {
  animation: shine-cube 1.6s ease-in-out;
}
.market-container .market-tiles-container .a-market-tile[market-index="0"] {
  background-position-x: 0%;
}
.market-container .market-tiles-container .a-market-tile[market-index="1"] {
  background-position-x: 33.33%;
}
.market-container .market-tiles-container .a-market-tile[market-index="2"] {
  background-position-x: 66.66%;
}
.market-container .market-tiles-container .a-market-tile[market-index="3"] {
  background-position-x: 100%;
}
.market-container .market-tiles-container .a-market-tile.selected-market-tile {
  outline: none;
  box-shadow: 2px 2px 6px #000000, 0 0 24px 3px rgba(255, 230, 11, 0.576471), 0 0 1px 6px rgba(255, 230, 11, 0.588235), 0 0 22px 21px rgba(255, 230, 11, 0.1254901961);
  animation: enlarge-market-tile 0.5s ease-in-out;
}
.market-container .market-tiles-container .a-market-tile.selectable-market-tile {
  animation: selectable-market-tile-glow-animation 2.2s ease-out infinite;
}
.market-container .market-tiles-container .a-market-tile.collected-market-tile {
  box-shadow: 0px 0px 2px 5px var(--collecting-player-color, #f2a93b);
}
.market-container .market-tiles-container .a-market-tile .cubes-container .a-cube {
  pointer-events: none;
}
.market-container .market-tiles-container .a-market-tile .collecting-player-avatar {
  position: absolute;
  top: -10px;
  left: 50%;
  width: var(--gamearea-avatar-size);
  height: var(--gamearea-avatar-size);
}
.market-container .market-tiles-container .a-market-tile.selectable-market-tile {
  cursor: pointer;
}
.market-container .market-tiles-container .waiting-players-container {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: -18px;
  background-color: rgba(255, 254, 175, 0.39);
  transform: translateX(-50%);
  left: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  box-shadow: 0px 0px 2px #f8da5f;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.market-container .market-tiles-container .waiting-players-container .pending-player-avatar {
  display: inline-block;
  width: var(--gamearea-avatar-size);
  height: var(--gamearea-avatar-size);
  margin: 10px;
  margin-left: calc(var(--gamearea-avatar-size) * 0.5 + 10px);
  margin-right: calc(var(--gamearea-avatar-size) * -0.5 + 10px);
}
.market-container .bonus-cards-container {
  width: calc(var(--market-cube-size) * 3);
  min-width: 140px;
  position: relative;
}
.market-container .bonus-cards-container .a-bonus-card-icon {
  box-shadow: 0px 0px 8px #f8da5f;
}

@media (min-width: 1310px) {
  body.desktop_version .market-container .market-tiles-container {
    margin-left: calc(var(--market-cube-size) * 5.9);
  }
}
@media (max-width: 1310px) and (min-width: 1200px) {
  body.desktop_version .market-container .market-tiles-container {
    margin-left: calc(var(--market-cube-size) * 2);
  }
}
@media (max-width: 1200px) and (min-width: 1170px) {
  body.desktop_version .market-container .market-tiles-container {
    margin-left: calc(var(--market-cube-size) * 1);
  }
}
@media (max-width: 1170px) and (min-width: 1070px) {
  body.desktop_version .market-container .market-tiles-container {
    --market-cube-size: 25px;
    margin-left: 0px;
  }
}
@media (max-width: 1070px) {
  body.desktop_version .market-container .market-tiles-container {
    --market-cube-size: 22px;
    margin-left: 0px;
  }
}

body.mobile_version .market-container .waiting-players-container {
  bottom: -25px;
}

.bonus-cards-container .a-bonus-card-icon, .end-game-score-container .score-type-icon .a-bonus-card-icon {
  width: 100%;
  aspect-ratio: 2.7;
  margin-top: calc(var(--market-cube-size) * 0.2);
  cursor: help;
  background-color: #002f35;
  background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='180' height='100' viewBox='0 0 180 100'> <polygon points='50,-46 95,40 5,40' fill='%2384b578' transform='rotate(90, 50, 50)'/> </svg>"), url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='180' height='100' viewBox='0 0 180 100'> <polygon points='94,34 139,120 49,120' fill='%2384b578' transform='rotate(-90, 90, 50)'/> </svg>");
  background-size: 10% 18%, 10% 18%;
  background-repeat: repeat-y, repeat-y;
  background-position: 2% 0, 95% 0;
  transform: scaleX(-1);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.bonus-cards-container .a-bonus-card-icon::before, .end-game-score-container .score-type-icon .a-bonus-card-icon::before {
  content: "";
  position: absolute;
  inset: -5% 12% -13% 12%;
  background-image: var(--image-source-bonus-card-icons);
  background-size: 500% 400%;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}
.bonus-cards-container .a-bonus-card-icon::after, .end-game-score-container .score-type-icon .a-bonus-card-icon::after {
  content: "";
  position: absolute;
  inset: -100% -100% -100% -100%;
  background: linear-gradient(135deg, transparent 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.6) 43%, rgba(255, 255, 255, 0) 51%, transparent 100%);
  background-size: 200% 200%;
  background-position: 0% 0%;
  pointer-events: none;
  transform: scaleX(-1);
  opacity: 0;
}
.bonus-cards-container .a-bonus-card-icon:hover::after, .end-game-score-container .score-type-icon .a-bonus-card-icon:hover::after {
  opacity: 1;
  animation: shine-bonus-card-icon 0.8s ease-out;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="0"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="0"]::before {
  background-position: 0% 0%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="1"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="1"]::before {
  background-position: 25% 0%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="2"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="2"]::before {
  background-position: 50% 0%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="3"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="3"]::before {
  background-position: 75% 0%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="4"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="4"]::before {
  background-position: 100% 0%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="5"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="5"]::before {
  background-position: 0% 33.33%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="6"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="6"]::before {
  background-position: 25% 33.33%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="7"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="7"]::before {
  background-position: 50% 33.33%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="8"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="8"]::before {
  background-position: 75% 33.33%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="9"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="9"]::before {
  background-position: 100% 33.33%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="10"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="10"]::before {
  background-position: 0% 66.66%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="11"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="11"]::before {
  background-position: 25% 66.66%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="12"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="12"]::before {
  background-position: 50% 66.66%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="13"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="13"]::before {
  background-position: 75% 66.66%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="14"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="14"]::before {
  background-position: 100% 66.66%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="15"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="15"]::before {
  background-position: 0% 99.99%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="16"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="16"]::before {
  background-position: 25% 99.99%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="17"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="17"]::before {
  background-position: 50% 99.99%;
}
.bonus-cards-container .a-bonus-card-icon[bonus-card-id="18"]::before, .end-game-score-container .score-type-icon .a-bonus-card-icon[bonus-card-id="18"]::before {
  background-position: 75% 99.99%;
}

.mobile_version .market-container {
  flex-direction: column;
  align-items: center;
}
.mobile_version .market-container .market-tiles-container {
  margin: 10px 0px;
}
.mobile_version .market-container .market-tiles-container .collecting-player-avatar {
  top: -16px;
}
.mobile_version .market-container .bonus-cards-container {
  width: 100%;
  margin: 0 auto;
}
.mobile_version .market-container .bonus-cards-container .a-bonus-card-icon {
  display: inline-block;
  width: 27%;
  margin: 1%;
}

.gamestate_allSelectMarketTile .a-market-tile {
  cursor: pointer;
}
.gamestate_allSelectMarketTile .a-market-tile.zombie-market-tile {
  cursor: default;
}

.a-market-tile-icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.a-market-tile-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image-source-market-tiles);
  background-size: 400%;
  background-repeat: no-repeat;
  clip-path: inset(42% 7% 7% 42%);
  width: 170%;
  height: 170%;
  top: -70%;
  left: -70%;
  pointer-events: none;
}
.a-market-tile-icon::after {
  content: "";
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  outline: 4px solid #f0d0d4;
  border-radius: 5px;
  top: 0%;
  left: 0%;
  outline-offset: -2px;
}
.a-market-tile-icon[market-index="0"]::before {
  background-position-x: 0%;
  clip-path: inset(42% 42% 7% 7%);
  left: -10%;
}
.a-market-tile-icon[market-index="1"]::before {
  background-position-x: 33.33%;
}
.a-market-tile-icon[market-index="2"]::before {
  background-position-x: 66.66%;
}
.a-market-tile-icon[market-index="3"]::before {
  background-position-x: 100%;
}
.a-market-tile-icon[market-index="0"]::after {
  outline-color: var(--market-tile-color-0);
}
.a-market-tile-icon[market-index="1"]::after {
  outline-color: var(--market-tile-color-1);
}
.a-market-tile-icon[market-index="2"]::after {
  outline-color: var(--market-tile-color-2);
}
.a-market-tile-icon[market-index="3"]::after {
  outline-color: var(--market-tile-color-3);
}

#player-tables {
  text-align: center;
}
#player-tables .pyramids-container {
  margin-top: 40px;
  margin-bottom: 400px;
}
#player-tables .pyramids-container .a-pyramid-container {
  position: relative;
  margin-top: 30px;
  width: 48%;
  margin: 1%;
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 2px 2px 0 var(--player-color, #000000), -2px 2px 0 var(--player-color, #000000);
  display: inline-block;
  max-width: 400px;
}
#player-tables .pyramids-container .a-pyramid-container .player-name-text {
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
  width: calc(100% + 4px);
  position: absolute;
  font-size: 22px;
  transform: translateY(-50%);
  top: 1px;
  left: -2px;
}
#player-tables .pyramids-container .a-pyramid-container .player-name-text:before {
  content: "";
  width: 20px;
  box-shadow: 0px -2px 0 0px var(--player-color, #000000);
  margin-right: 10px;
  height: 2px;
  top: 2px;
  position: relative;
}
#player-tables .pyramids-container .a-pyramid-container .player-name-text:after {
  flex-grow: 1;
  content: "";
  box-shadow: 0px -2px 0 0px var(--player-color, #000000);
  margin-left: 10px;
  height: 2px;
  top: 2px;
  position: relative;
}
#player-tables .pyramids-container .a-pyramid-container .player-name-text .text-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  color: var(--player-color, #000000);
  text-shadow: 2px 0 #FFFFFF, -2px 0 #FFFFFF, 0 2px #FFFFFF, 0 -2px #FFFFFF, 1px 1px #FFFFFF, -1px -1px #FFFFFF, 1px -1px #FFFFFF, -1px 1px #FFFFFF;
}
#player-tables .pyramids-container .a-pyramid-container .turn-order-container {
  position: absolute;
  top: -6%;
  left: 84%;
  transform-origin: center;
  transform: rotate(8deg);
  cursor: help;
  width: 14%;
}
#player-tables .pyramids-container .a-pyramid-container .turn-order-container:hover {
  animation: wiggle-turn-order-container 0.25s ease-in-out 2;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container {
  position: absolute;
  top: 50%;
  left: 50%;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .a-cube, #player-tables .pyramids-container .a-pyramid-container .cubes-container .pyramid-cube-snap-point, #player-tables .pyramids-container .a-pyramid-container .cubes-container .switch-color-button {
  position: absolute;
  width: var(--pyramid-cube-size, 0px);
  height: var(--pyramid-cube-size, 0px);
  max-width: var(--pyramid-cube-size, 0px);
  max-height: var(--pyramid-cube-size, 0px);
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .pyramid-cube-snap-point {
  z-index: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.24);
  outline: 1px solid;
  outline-color: rgba(var(--player-color-hex), 0.5);
  outline-offset: -1px;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .a-cube {
  z-index: 1;
  pointer-events: none;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .a-cube .cube-background {
  top: 13%;
  left: 9%;
  width: 96%;
  height: 96%;
  background-image: url(img/cube_backgrounds.png);
  background-position: 100% 0;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .a-cube.animating-cube {
  z-index: 100 !important;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .a-cube .top-side {
  box-shadow: 0px 0px 3px #000000;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .switch-color-button {
  z-index: 100;
  opacity: 0;
  transition: opacity 0.2s ease;
}
#player-tables .pyramids-container .a-pyramid-container .cubes-container .switch-color-button .switch-color-icon {
  opacity: 0.82;
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 0.5px 0.5px #000000, -0.5px -0.5px #000000, 0.5px -0.5px #000000, -0.5px 0.5px #000000;
  font-size: calc(var(--pyramid-cube-size) * 0.7);
}
#player-tables .pyramids-container .a-pyramid-container:not([build-pyramid-enabled=true]):hover .a-cube .top-side {
  animation: shine-cube 1.6s ease-in-out;
}
#player-tables .pyramids-container .a-pyramid-container[build-pyramid-enabled=true] .pyramid-cube-snap-point {
  cursor: pointer;
}
#player-tables .pyramids-container .a-pyramid-container[build-pyramid-enabled=true] .switch-color-button {
  cursor: pointer;
}

.turn-order-container {
  aspect-ratio: 0.7;
  background-image: var(--image-source-player-order-tiles);
  background-size: 400% 100%;
  background-repeat: no-repeat;
}
.turn-order-container[turn-order="1"] {
  background-position-x: 0%;
}
.turn-order-container[turn-order="2"] {
  background-position-x: 33.33%;
}
.turn-order-container[turn-order="3"] {
  background-position-x: 66.66%;
}
.turn-order-container[turn-order="4"] {
  background-position-x: 100%;
}

.animating-turn-order-container, .target-turn-order-container {
  transform: rotate(8deg);
  pointer-events: none;
  z-index: 1000;
}

.left-turn-order-animation-target {
  position: fixed;
  left: 20%;
  top: 40%;
  width: 1px;
  height: 1px;
}

.right-turn-order-animation-target {
  position: fixed;
  left: 60%;
  top: 40%;
  width: 1px;
  height: 1px;
}

.yaxha-player-avatar {
  pointer-events: none;
  border-radius: 100%;
  outline: 3px solid var(--player-color);
  transform: translateX(-50%);
}
.yaxha-player-avatar img {
  border-radius: 100%;
}

#page-title, .current_player_is_active #page-title, .gamestate_gameEnd #page-title, .roundedbox, .pageheader {
  background-color: var(--status-bar-color);
}

.log_replayable:hover {
  background-color: var(--status-bar-color);
}

#page-title .a-market-tile-icon {
  width: 38px;
  height: 38px;
  margin: -5px 0px -5px 3px;
}
#page-title .cube-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
}
#page-title .cube-wrapper .a-cube {
  position: relative;
  top: -4px;
  display: inline-block;
  margin-right: 12px;
}
#page-title .confirm-place-cube-button {
  margin-left: 5px;
}
#page-title .undo-place-cube-button {
  margin-left: 5px;
}

.log.a-game-log {
  position: relative;
}
.log.a-game-log .roundedbox {
  background: var(--bg-gradient);
  padding-bottom: 5px;
}
.log.all-selected-tiles-log .a-market-tile-icon, .log.individual-collected-tiles-log .a-market-tile-icon {
  width: 30px;
  height: 30px;
  margin: 1px 0px;
}
.log.all-selected-tiles-log .a-market-tile-icon::before, .log.individual-collected-tiles-log .a-market-tile-icon::before {
  clip-path: inset(31% 7% 7% 31%);
  width: 130%;
  height: 130%;
  top: -35%;
  left: -35%;
}
.log.all-selected-tiles-log .a-market-tile-icon[market-index="0"]::before, .log.individual-collected-tiles-log .a-market-tile-icon[market-index="0"]::before {
  clip-path: inset(32% 32% 7% 7%);
  left: -4%;
}
.log.all-selected-tiles-log .player-selected-market-tile-row {
  position: relative;
}
.log.all-selected-tiles-log .player-selected-market-tile-row.pending .log-arrow-left {
  opacity: 0.6;
}
.log.all-selected-tiles-log .player-selected-market-tile-row.collecting + .pending {
  margin-top: 10px;
}
.log.all-selected-tiles-log .player-selected-market-tile-row.collecting + .pending::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 1%;
  width: 97%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4392156863);
}
.log.swap-turn-orders-log {
  text-align: center;
}
.log.swap-turn-orders-log .turn-order-container-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 22px;
  overflow: hidden;
  box-shadow: 1px 1px 2px #000000;
  border-radius: 30%;
}
.log.swap-turn-orders-log .turn-order-container-wrapper .turn-order-container {
  vertical-align: middle;
  width: 156%;
  margin-top: -62%;
  margin-left: -26%;
}
.log.all-selected-tiles-log .market-interaction-rows-wrapper {
  display: inline-block;
  width: 100%;
}
.log.individual-collected-tiles-log .player-collected-market-tile-row {
  display: inline-block;
}
.log.display-built-cubes-log {
  margin-left: 30px;
}
.log.display-built-cubes-log .built-cubes-rows-wrapper {
  display: inline-block;
}
.log.display-built-cubes-log .built-cubes-rows-wrapper .a-cube {
  width: 18px;
  height: 18px;
}
.log.swap-turn-orders-log {
  margin-left: 10px;
  margin-right: 10px;
}
.log .log-arrow {
  color: #000 !important;
}
.log .log-arrow.log-arrow-left {
  margin-left: 5px;
  margin-right: 5px;
}
.log .log-arrow.log-place-cube-icon {
  margin-left: 2px;
  margin-right: 5px;
}
.log .log-arrow.log-arrow-exchange {
  margin-left: 5px;
  margin-right: 5px;
}
.log .log-cubes-wrapper {
  display: inline;
}
.log .log-cubes-wrapper .a-cube {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 13px;
  margin-top: 2px;
}
.log .log-cubes-wrapper:last-child .a-cube {
  margin-bottom: 8px;
}
.log .playername {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
.log .playername.swapper-name {
  font-size: 12px;
  max-width: 70px;
  display: inline-block;
}

.desktop_version .a-game-log .playername[player-color=ffa500] {
  text-shadow: 0.5px 0 #1e4b39, -0.5px 0 #1e4b39, 0 0.5px #1e4b39, 0 -0.5px #1e4b39, 0.25px 0.25px #1e4b39, -0.25px -0.25px #1e4b39, 0.25px -0.25px #1e4b39, -0.25px 0.25px #1e4b39;
} /* ffa500 this color doesnt look good on the logs */
.end-game-score-container {
  position: fixed;
  z-index: 100;
  transition: top 0.2s ease;
  top: 122px;
  padding: 18px 10px 22px 10px;
  background: linear-gradient(to bottom left, #8eb47e 64%, #f8da5f 110%);
  left: 16px;
  border: 1px solid #000;
  border-radius: 12px;
  box-shadow: 2px 2px 16px #000000;
  user-select: none;
  overflow: hidden;
}
.end-game-score-container table thead th {
  vertical-align: middle;
  outline: 1px solid #000;
  padding: 5px;
  text-align: center;
}
.end-game-score-container table thead th.corner-no-border-cell {
  outline: 0 solid #ffffff;
}
.end-game-score-container table thead th:not(.corner-no-border-cell) {
  background-color: #ffffff;
}
.end-game-score-container table thead th.player-name-cell {
  width: 110px;
}
.end-game-score-container table thead th.player-name-cell span {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 800;
  font-size: 18px;
  display: inline-block;
}
.end-game-score-container table thead th.player-name-cell.jumping-text {
  animation: jumpAndTilt 1s ease-in-out infinite;
  text-shadow: 2px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -2px #ffffff, 1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, -1px 1px #ffffff;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #fae69a 8%, #FFE58F 25%, #fff2c9 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #FFE58F 25%, #eabe5b 62.5%, #d3c5a5 100%);
}
.end-game-score-container table tbody td {
  vertical-align: middle;
  height: 22px;
  background-color: rgba(250, 236, 207, 0.6);
  text-align: center;
  color: #000000;
  outline: 1px solid rgba(92, 111, 72, 0.6705882353);
  font-size: 16px;
  padding: 3px 0px;
}
.end-game-score-container table tbody td *[row-index="8"] {
  font-size: 18px;
}
.end-game-score-container table tbody td .a-cube, .end-game-score-container table tbody td .a-bonus-card-icon-wrapper {
  position: relative;
  display: inline-block;
}
.end-game-score-container table tbody td .a-cube {
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-left: -4px;
}
.end-game-score-container table tbody td .a-bonus-card-icon-wrapper {
  display: inline-block;
  overflow: hidden;
  width: 62px;
  height: 26px;
  border-radius: 3px;
  margin-top: -2px;
}
.end-game-score-container table tbody td .a-bonus-card-icon-wrapper .a-bonus-card-icon {
  width: 125%;
  height: 122%;
  border-radius: 0px;
  margin-top: -3px;
  margin-left: -9px;
  background-image: none;
}
.end-game-score-container table tbody td.score-type-icon-cell {
  width: 72px;
  display: inline-block;
}
.end-game-score-container table tbody td.score-type-icon-cell .score-type-icon .total-icon {
  font-size: 30px;
  line-height: 24px;
}
.end-game-score-container table tbody td .cell-total {
  transition: opacity 0.2s ease;
}
.end-game-score-container .collapse-table-button {
  position: absolute;
  top: 12px;
  left: 12px;
  cursor: pointer;
  font-size: 26px;
  color: #1b2347;
}
.end-game-score-container .show-table-button {
  cursor: pointer;
  font-size: xx-large;
  color: #1b2347;
}
.end-game-score-container .fast-forward-text {
  position: absolute;
  bottom: 9px;
  right: 11px;
  font-size: 12px;
  height: 10px;
}

.gamestate_gameEnd .end-game-score-container {
  top: 214px;
}

body.mobile_version .end-game-score-container {
  top: 305px;
}
body.mobile_version .end-game-score-container table tbody td {
  font-size: 20px;
  padding: 6px 0px;
}
body.mobile_version .end-game-score-container table tbody td .a-bonus-card-icon-wrapper {
  width: 69px;
  height: 32px;
  border-radius: 2px;
  margin-top: -5px;
}
body.mobile_version .gamestate_gameEnd .end-game-score-container {
  top: 402px;
}

.mobile_version .log.all-selected-tiles-log .market-interaction-rows-wrapper {
  width: 92%;
}
.mobile_version .log.all-selected-tiles-log .player-selected-market-tile-row.collecting + .pending::before {
  width: 105%;
}

.dijitTooltipContainer:has(.tooltip-wrapper) {
  background: none;
}
.dijitTooltipContainer .tooltip-wrapper {
  background: var(--bg-gradient-tooltip);
  padding: 10px;
  margin: -6px -6px -6px -6px;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip {
  max-width: 430px;
}
.dijitTooltipContainer .tooltip-wrapper .tooltip-text {
  font-size: 16px;
  color: rgba(7, 0, 49, 0.8509803922);
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  text-indent: 6px;
  text-align: center;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip {
  text-align: center;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip .tooltip-card {
  display: inline-block;
  width: 200px;
  height: 280px;
  background-image: var(--image-source-bonus-cards);
  background-size: 500% 400%;
  background-repeat: no-repeat;
  border-radius: 18px;
  margin-top: 10px;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="0"] .tooltip-bonus-card {
  background-position: 0% 0%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="1"] .tooltip-bonus-card {
  background-position: 25% 0%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="2"] .tooltip-bonus-card {
  background-position: 50% 0%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="3"] .tooltip-bonus-card {
  background-position: 75% 0%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="4"] .tooltip-bonus-card {
  background-position: 100% 0%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="5"] .tooltip-bonus-card {
  background-position: 0% 33.33%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="6"] .tooltip-bonus-card {
  background-position: 25% 33.33%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="7"] .tooltip-bonus-card {
  background-position: 50% 33.33%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="8"] .tooltip-bonus-card {
  background-position: 75% 33.33%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="9"] .tooltip-bonus-card {
  background-position: 100% 33.33%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="10"] .tooltip-bonus-card {
  background-position: 0% 66.66%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="11"] .tooltip-bonus-card {
  background-position: 25% 66.66%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="12"] .tooltip-bonus-card {
  background-position: 50% 66.66%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="13"] .tooltip-bonus-card {
  background-position: 75% 66.66%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="14"] .tooltip-bonus-card {
  background-position: 100% 66.66%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="15"] .tooltip-bonus-card {
  background-position: 0% 99.99%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="16"] .tooltip-bonus-card {
  background-position: 25% 99.99%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="17"] .tooltip-bonus-card {
  background-position: 50% 99.99%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip.bonus-card-tooltip[bonus-card-id="18"] .tooltip-bonus-card {
  background-position: 75% 99.99%;
}
.dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip .tooltip-cubes-card {
  margin-left: 10px;
  background-position: 75% 99.99%;
}
.dijitTooltipContainer .tooltip-bold {
  font-weight: bold;
}

body.mobile_version .dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip {
  max-width: 600px;
}
body.mobile_version .dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip .tooltip-card {
  width: 120px;
  height: 168px;
}

.tundra:has(.tooltip-wrapper) { /* to change the color of the little tooltip arrow */ }
.tundra:has(.tooltip-wrapper) .dijitTooltip .dijitTooltipConnector {
  overflow: hidden;
  background: none;
}
.tundra:has(.tooltip-wrapper) .dijitTooltip .dijitTooltipConnector:after {
  content: "";
  position: absolute;
  width: 86%;
  background: var(--bg-gradient-tooltip);
  aspect-ratio: 1;
}
.tundra:has(.tooltip-wrapper) .dijitTooltip.dijitTooltipAbove .dijitTooltipConnector::after {
  top: -52%;
  transform: scale(0.75, 1.1) rotate(45deg);
  box-shadow: -1px -1px 2px 2px #adadad;
}
.tundra:has(.tooltip-wrapper) .dijitTooltip.dijitTooltipBelow .dijitTooltipConnector::after {
  bottom: -52%;
  transform: scale(0.75, 1.1) rotate(45deg);
  box-shadow: 1px 1px 2px 2px #adadad;
}
.tundra:has(.tooltip-wrapper) .dijitTooltip.dijitTooltipRight .dijitTooltipConnector::after {
  right: -47%;
  transform: scale(1.1, 0.75) rotate(45deg);
  box-shadow: 1px -1px 2px 2px #adadad;
}
.tundra:has(.tooltip-wrapper) .dijitTooltip.dijitTooltipLeft .dijitTooltipConnector::after {
  left: -47%;
  transform: scale(1.1, 0.75) rotate(45deg);
  box-shadow: -1px 1px 2px 2px #adadad;
}

@keyframes enlarge-market-tile {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shine-cube {
  to {
    background-position: var(--top-bg-x) var(--top-bg-y), 0 0, -150% -150%;
  }
}
@keyframes shine-bonus-card-icon {
  0% {
    background-position: 70% 70%;
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  100% {
    background-position: 0% 0%;
    opacity: 0;
  }
}
@keyframes wiggle-turn-order-container {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
@keyframes selectable-market-tile-glow-animation {
  0% {
    box-shadow: 0 0 3px 3px var(--market-tile-glow-color);
  }
  40% {
    box-shadow: 0 0 6px 6px var(--market-tile-glow-color);
  }
  80% {
    box-shadow: 0 0 3px 3px var(--market-tile-glow-color);
  }
  100% {
    box-shadow: 0 0 3px 3px var(--market-tile-glow-color);
  }
}
@keyframes jumpAndTilt {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(-5deg);
  }
  75% {
    transform: translateY(-10px) rotate(5deg);
  }
}

/*# sourceMappingURL=yaxha.css.map */
