@use 'sass:math';

@import 'cubeCords.scss';

@mixin text-shade($color, $size) { text-shadow: #{$size} 0 $color, -#{$size} 0 $color, 0 #{$size} $color, 0 -#{$size} $color, #{($size * 0.5)} #{($size * 0.5)} $color, -#{($size * 0.5)} -#{($size * 0.5)} $color, #{($size * 0.5)} -#{($size * 0.5)} $color, -#{($size * 0.5)} #{($size * 0.5)} $color; }
@mixin non-selectable() { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
@mixin bonus-card-position($i) { background-position: #{($i % 5) * 25%} #{math.floor($i / 5) * 33.33%}; }
@mixin gold-background(){ background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #fae69a 8%, #FFE58F 25%, #fff2c9 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #FFE58F 25%, #eabe5b 62.5%, #d3c5a5 100%); }

:root {
    --market-cube-size: 28px;
    --bg-gradient-tooltip: linear-gradient(130deg, #a8c686f2, #e1eec8db);
    --bg-gradient: linear-gradient(130deg, #a8c686e0, #e1eec8c0);
    --player-board-gradient: linear-gradient(130deg, rgba(235, 213, 189, 0.8784313725) 46%, rgb(255 228 139 / 34%));
    --status-bar-color: #fff9dfe6;
	--market-tile-glow-color: #f8da5f80;
    --image-source-market-tiles: url(img/market_tiles_minified.webp);
    --image-source-player-order-tiles: url(img/player_order_tiles_minified.jpg);
    --image-source-bonus-cards: url(img/bonus_cards_minified.webp);
    --image-source-bonus-card-icons: url(img/bonus_card_icons_minified.jpg);
    --cubes-parallax-margin: 0px;
}

body{ 
    --pyramid-cube-size: 74px;
    --gamearea-avatar-size: 40px;
    &.mobile_version{ 
        --pyramid-cube-size: 60px; 
        --gamearea-avatar-size: 46px;
    }
}

.background-container{ position: fixed; z-index: -1; top: 0; left: 0; width: 100%; height: 100%; --pyramid-width: calc(min(42vw, 51vh)); --shaman-width: calc(var(--pyramid-width) * 0.64); pointer-events: none;
    background: linear-gradient(to bottom right, #1e4b39 32%, #f8da5f 110%); background-position: center bottom; background-attachment: fixed; background-size: cover;
    &::before { content: ""; position: fixed; top: calc(60px + 50%); transform: translateY(-50%); height: 36vh; width: 100%; pointer-events: none;  background-repeat: repeat-y; background-position: 0% top, 99% top; background-size: 4vh 3vh; background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='180'%20height='100'%20viewBox='0%200%20180%20100'%3E%3Cpolygon%20points='50,-46%2095,40%205,40'%20fill='%2384b578'%20transform='rotate(90,%2050,%2050)'/%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='180'%20height='100'%20viewBox='0%200%20180%20100'%3E%3Cpolygon%20points='94,34%20139,120%2049,120'%20fill='%2384b578'%20transform='rotate(-90,%2090,%2050)'/%3E%3C/svg%3E"); }

    .bg-pyramid{ position: absolute; opacity: 0.8; bottom: 0px; left: 50%; transform: translateX(-50%); width: var(--pyramid-width); height: calc(var(--pyramid-width) * 0.945); background-image: url('img/bg_pyramid.webp'); background-size: 100%;
        .bg-shaman{ position: absolute; width: var(--shaman-width); height: calc(var(--shaman-width) * 0.929); 
            &.is-shaking{ animation: shake-shaman 0.35s ease-in-out infinite; }
            &.final-shake{ animation: shake-shaman 0.35s ease-in-out; }

            &::before{ content: ""; opacity: 0.9; position: absolute; width: 37%; height: 30%; top: 45%; left: 31%; background-color: #fff1b4; transition: background-color 0.3s ease; }
            .eye-lid{ position: absolute; transition: top 0.25s cubic-bezier(0.75, 0, 0.5, 1); width: 14%; height: 3%; background-color: #1d5358;
                &.lid-top{ top: 47.5%; }
                &.lid-bottom{ top: 56%; }
                &.lid-left{ left: 33%; }
                &.lid-right{ left: 54%; }
                &.lid-top.eyes-closed{ top: 50.5%; }
                &.lid-bottom.eyes-closed{ top: 53%; }
            }
            &::after{ content: ""; position: absolute; background-image: url('img/bg_shaman.webp'); background-size: 100%; width: 100%; height: 100%; top: 0; left: 0;}

            &.rainbow-eyes::before{ background-color: var(--rainbow-eyes-color, #ff511e); }
        }
    }
}
body.mobile_version .background-container{ background-position: center bottom; --pyramid-width: calc(min(86vw, 48vh));
    &::before { background-size: 3vh 2.2vh; height: 22.2vh; top: calc(100px + 50%); }
}

.player-board{ background: var(--player-board-gradient); }

.a-cube{ width: var(--market-cube-size); height: var(--market-cube-size); position: absolute; transition: transform 0.2s ease; 
    .top-side, .right-side, .bottom-side{ z-index: 1; background-blend-mode: overlay; background-color: var(--cube-color); }
    .top-side{ z-index: 2; position: absolute; width: 100%; height: 100%; background-image: url('img/wood_texture_overlay.png'), linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.1)), linear-gradient(135deg, transparent 0%, rgba(255,255,255,0.4) 50%, transparent 100%); background-position: var(--top-bg-x) var(--top-bg-y), 0 0, 150% 150%; background-size: auto, 100% 100%, 300% 300%; background-repeat: no-repeat, no-repeat, no-repeat; }
    .right-side{ z-index: 0; position: absolute; width: 100%; height: 136%; filter: brightness(0.85); clip-path: polygon(86% 20%, 59.8% -2%, 59% 74%, 86% 93.3%); top: 0%; left: 39.1%; background-position: var(--side-bg-x) var(--side-bg-y); background-image: url('img/wood_texture_overlay.png'), linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.1)); } //side face
    .bottom-side{ z-index: 1; position: absolute; width: 139%; height: 71%; filter: brightness(0.9); clip-path: polygon(18.6% 39%, 90% 39%, 71% 0%, -2% 0%); top: 98.6%; left: 0%; background-position: var(--bottom-bg-x) var(--bottom-bg-y); background-image: url('img/wood_texture_overlay.png'), linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.1)); } //bottom face
    .cube-background { z-index: 0; width: 102%; height: 102%; top: 5%; left: 0%; transform: scale(1.32); transform-origin: 11% 23%; position: absolute; background-repeat: no-repeat, no-repeat; background-image: url(img/cube_backgrounds.png), linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.4) 50%, transparent 100%); filter: blur(1px); background-size: 200% 100%; background-position: 100%; }
    &[built-status]{ transition: opacity 0.2s ease; 
        .cube-background { display: none; }
    }
    &[built-status="selected-cube"] { opacity: 0.6; }
    &[built-status="built-cube"], &[built-status="discarded-cube"] { opacity: 0; }
}

.market-container{ position: relative; display: flex; justify-content: center; align-items: flex-start; width: 100%; margin-top: 10px;
    .market-tiles-container{ position: relative; display: flex; flex-wrap: wrap; justify-content: center; margin-right: calc(var(--market-cube-size) * 0.9);
        .a-market-tile { --market-tile-size: calc(var(--market-cube-size) * 6); width: var(--market-tile-size); height: var(--market-tile-size); margin: 5px; display: inline-block; box-shadow: 2px 2px 4px #000000; border-radius: 8px; position: relative; background-image: var(--image-source-market-tiles); background-repeat: no-repeat; background-size: 400%;
            &:hover .cubes-container .a-cube .top-side { animation: shine-cube 1.6s ease-in-out; }

            &[market-index="0"] { background-position-x: 0%; }
            &[market-index="1"] { background-position-x: 33.33%; }
            &[market-index="2"] { background-position-x: 66.66%; }
            &[market-index="3"] { background-position-x: 100%; }

            &.selected-market-tile { outline: none; box-shadow: 2px 2px 6px #000000, 0 0 24px 3px rgba(255, 230, 11, 0.576471), 0 0 1px 6px rgba(255, 230, 11, 0.588235), 0 0 22px 21px rgba(255, 230, 11, 0.1254901961); animation: enlarge-market-tile 0.5s ease-in-out; }
            &.selectable-market-tile{ animation: selectable-market-tile-glow-animation 2.2s ease-out infinite; }
            &.collected-market-tile{ box-shadow: 0px 0px 2px 5px var(--collecting-player-color, #f2a93b); }
            
            .cubes-container .a-cube { pointer-events: none; }
            
            .collecting-player-avatar{ position: absolute; top: -10px; left: 50%; width: var(--gamearea-avatar-size); height: var(--gamearea-avatar-size); }
            &.selectable-market-tile{ cursor: pointer; }
        }
        
        .waiting-players-container{ position: absolute; z-index: 1; pointer-events: none; bottom: -18px; background-color: rgb(255 254 175 / 39%); transform: translateX(-50%); left: 50%; opacity: 0; transition: opacity 0.2s ease; border-radius: 30px; box-shadow: 0px 0px 2px #f8da5f; backdrop-filter: blur(2px); -webkit-backdrop-filter: blur(2px);
            .pending-player-avatar{ display: inline-block; width: var(--gamearea-avatar-size); height: var(--gamearea-avatar-size); margin: 10px; margin-left: calc(var(--gamearea-avatar-size) * 0.5 + 10px); margin-right: calc(var(--gamearea-avatar-size) * -0.5 + 10px); }
        }
    }

    .bonus-cards-container{ width: calc(var(--market-cube-size) * 3); min-width: 140px; position: relative; 
        .a-bonus-card-icon{ box-shadow: 0px 0px 8px #f8da5f; }
    }
}

body.desktop_version{
    .market-container .market-tiles-container{
        @media (min-width: 1310px) { margin-left: calc(var(--market-cube-size) * 5.9); }
        @media (max-width: 1310px) and (min-width: 1200px) { margin-left: calc(var(--market-cube-size) * 2); }
        @media (max-width: 1200px) and (min-width: 1170px) { margin-left: calc(var(--market-cube-size) * 1); }
        @media (max-width: 1170px) and (min-width: 1070px) { --market-cube-size: 25px; margin-left: 0px; }
        @media (max-width: 1070px) { --market-cube-size: 22px; margin-left: 0px; }
    }
}
body.mobile_version .market-container .waiting-players-container{ bottom: -25px; }

.bonus-cards-container, .end-game-score-container .score-type-icon{
    .a-bonus-card-icon { width: 100%; aspect-ratio: 2.7; margin-top: calc(var(--market-cube-size) * 0.2); cursor: help; background-color: #002f35; background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='180' height='100' viewBox='0 0 180 100'> <polygon points='50,-46 95,40 5,40' fill='%2384b578' transform='rotate(90, 50, 50)'/> </svg>"), url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='180' height='100' viewBox='0 0 180 100'> <polygon points='94,34 139,120 49,120' fill='%2384b578' transform='rotate(-90, 90, 50)'/> </svg>"); background-size: 10% 18%, 10% 18%; background-repeat: repeat-y, repeat-y; background-position: 2% 0, 95% 0; transform: scaleX(-1); border-radius: 5px; position: relative; overflow: hidden;
        &::before { content: ""; position: absolute; inset: -5% 12% -13% 12%; background-image: var(--image-source-bonus-card-icons); background-size: 500% 400%; background-repeat: no-repeat; transform: scaleX(-1); }
        &::after { content: ""; position: absolute; inset: -100% -100% -100% -100%; background: linear-gradient(135deg, transparent 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.6) 43%, rgba(255, 255, 255, 0) 51%, transparent 100%); background-size: 200% 200%; background-position: 0% 0%; pointer-events: none; transform: scaleX(-1); opacity: 0; }

        &:hover::after { opacity: 1; animation: shine-bonus-card-icon 0.8s ease-out; }

        @for $i from 0 through 18 {
            &[bonus-card-id="#{$i}"]::before { @include bonus-card-position($i); }
        }
    }
}

.mobile_version{
    .market-container { flex-direction: column; align-items: center;
        .market-tiles-container{ margin: 10px 0px; 
            .collecting-player-avatar{ top: -16px; }
        }
        .bonus-cards-container{ width: 100%; margin: 0 auto;
            .a-bonus-card-icon { display: inline-block; width: 27%; margin: 1%; }
        }
    }
}

.gamestate_allSelectMarketTile .a-market-tile{ cursor: pointer; 
    &.zombie-market-tile{ cursor: default; }
}

.a-market-tile-icon{ display: inline-block; vertical-align: middle; position: relative;
    &::before { content: ""; position: absolute; inset: 0; background-image: var(--image-source-market-tiles); background-size: 400%; background-repeat: no-repeat; clip-path: inset(42% 7% 7% 42%); width: 170%; height: 170%; top: -70%; left: -70%; pointer-events: none; }
    &::after { content: ""; position: absolute; width: calc(100% - 3px); height: calc(100% - 3px); outline: 4px solid #f0d0d4; border-radius: 5px; top: 0%; left: 0%; outline-offset: -2px; }
    
    &[market-index="0"]::before { background-position-x: 0%; clip-path: inset(42% 42% 7% 7%); left: -10%; }
    &[market-index="1"]::before { background-position-x: 33.33%; }
    &[market-index="2"]::before { background-position-x: 66.66%; }
    &[market-index="3"]::before { background-position-x: 100%; }
    &[market-index="0"]::after { outline-color: var(--market-tile-color-0); }
    &[market-index="1"]::after { outline-color: var(--market-tile-color-1); }
    &[market-index="2"]::after { outline-color: var(--market-tile-color-2); }
    &[market-index="3"]::after { outline-color: var(--market-tile-color-3); }
}

#player-tables{ text-align: center; min-height: 100vh; margin-bottom: 240px;
    .pyramids-container{ margin-top: 40px; margin-bottom: 40px;
        .a-pyramid-container { position: relative; margin-top: 30px; width: 48%; margin: 1%; aspect-ratio: 1; background-color: rgba(255, 255, 255, 0.1); box-shadow: 2px 2px 0 var(--player-color, #000000), -2px 2px 0 var(--player-color, #000000); display: inline-block; max-width: 400px;
            .player-name-text { display: flex; @include non-selectable(); align-items: center; width: calc(100% + 4px); position: absolute; font-size: 22px; transform: translateY(-50%); top: 1px; left: -2px;
                &:before{ content: ""; width: 20px; box-shadow: 0px -2px 0 0px var(--player-color, #000000); margin-right: 10px; height: 2px; top: 2px; position: relative; }
                &:after{ flex-grow: 1; content: ""; box-shadow: 0px -2px 0 0px var(--player-color, #000000); margin-left: 10px; height: 2px; top: 2px; position: relative; }
                .text-container{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 80%; color: var(--player-color, #000000); @include text-shade(#FFFFFF, 2px); }
            }
            .turn-order-container{ position: absolute;  top: -6%; left: 84%; transform-origin: center; transform: rotate(8deg); cursor: help; width: 14%;
                &:hover { animation: wiggle-turn-order-container 0.25s ease-in-out 2; }
            }
            .cubes-container{ 
                position: absolute; top: 50%; left: 50%; 
                .a-cube, .pyramid-cube-snap-point, .switch-color-button{ position: absolute; width: var(--pyramid-cube-size, 0px); height: var(--pyramid-cube-size, 0px); max-width: var(--pyramid-cube-size, 0px); max-height: var(--pyramid-cube-size, 0px);}
                .pyramid-cube-snap-point{ z-index: 0; opacity: 0; background-color: rgba(0, 0, 0, 0.24); outline: 1px solid; outline-color: rgba(var(--player-color-hex), 0.5); outline-offset: -1px; }
                .a-cube{ z-index: 1; pointer-events: none;
                    .cube-background{ top: 13%; left: 9%; width: 96%; height: 96%; background-image: url(img/cube_backgrounds.png); background-position: 100% 0; }
                    &.animating-cube{ z-index: 100 !important; }
                    .top-side{ box-shadow: 0px 0px 3px #000000; }
                }
                .switch-color-button{ z-index: 100; opacity: 0; transition: opacity 0.2s ease;
                    .switch-color-icon{ opacity: 0.82; position: absolute; color: #ffffff; top: 50%; left: 50%; transform: translate(-50%, -50%); @include text-shade(#000000, 1px); font-size: calc(var(--pyramid-cube-size) * 0.7); }
                }
            }
            &:not([build-pyramid-enabled=true]):hover .a-cube .top-side { animation: shine-cube 1.6s ease-in-out; }
            &[build-pyramid-enabled=true] { 
                .pyramid-cube-snap-point{ cursor: pointer; }
                .switch-color-button{ cursor: pointer; }
            }
        }
    }
}
body.mobile_version #player-tables{ min-height: 150vh; }

.turn-order-container{ aspect-ratio: 0.7; background-image: var(--image-source-player-order-tiles); background-size: 400% 100%; background-repeat: no-repeat;
    &[turn-order="1"] { background-position-x: 0%; }
    &[turn-order="2"] { background-position-x: 33.33%; }
    &[turn-order="3"] { background-position-x: 66.66%; }
    &[turn-order="4"] { background-position-x: 100%; } 
}

.animating-turn-order-container, .target-turn-order-container{ transform: rotate(8deg); pointer-events: none; z-index: 1000; }
.left-turn-order-animation-target{ position: fixed; left: 20%; top: 40%; width: 1px; height: 1px; }
.right-turn-order-animation-target{ position: fixed; left: 60%; top: 40%; width: 1px; height: 1px; }

.yaxha-player-avatar{ pointer-events: none; border-radius: 100%; outline: 3px solid var(--player-color); transform: translateX(-50%); 
    img{ border-radius: 100%; }
}
 
#page-title, .current_player_is_active #page-title, .gamestate_gameEnd #page-title, .roundedbox, .pageheader{ background-color: var(--status-bar-color); }
.log_replayable:hover { background-color: var(--status-bar-color); }

#page-title{
    .a-market-tile-icon{ width: 38px; height: 38px; margin: -5px 0px -5px 3px; }
    .cube-wrapper{ display: inline-block; vertical-align: middle; margin: 0px 10px; 
        .a-cube{ position: relative; top: -4px; display: inline-block; margin-right: 12px; }
    }
    .confirm-place-cube-button{ margin-left: 5px; }
    .undo-place-cube-button{ margin-left: 5px; }
}

.log{
    &.a-game-log{ position: relative;
        .roundedbox{ background: var(--bg-gradient); padding-bottom: 5px; }
    }
    &.all-selected-tiles-log, &.individual-collected-tiles-log{
        .a-market-tile-icon{ width: 30px; height: 30px; margin: 1px 0px;
            &::before{ clip-path: inset(31% 7% 7% 31%); width: 130%; height: 130%; top: -35%; left: -35%; }
            &[market-index="0"]::before { clip-path: inset(32% 32% 7% 7%); left: -4%; }
        }
    }
    &.all-selected-tiles-log{
        .player-selected-market-tile-row{ position: relative;
            &.pending .log-arrow-left{ opacity: 0.6; }
            &.collecting + .pending { 
                margin-top: 10px; 
                &::before { content: ""; position: absolute; top: -6px; left: 1%; width: 97%; height: 1px; background-color: #00000070; }
            }
        }
    }
    &.swap-turn-orders-log{ text-align: center;
        .turn-order-container-wrapper{ display: inline-block; vertical-align: middle; width: 24px; height: 22px; overflow: hidden; box-shadow: 1px 1px 2px #000000; border-radius: 30%;
            .turn-order-container{ vertical-align: middle; width: 156%; margin-top: -62%; margin-left: -26%; }
        }
    }
    &.all-selected-tiles-log .market-interaction-rows-wrapper{ display: inline-block; width: 100%; }
    
    &.individual-collected-tiles-log .player-collected-market-tile-row{ display: inline-block; }
    &.display-built-cubes-log{ margin-left: 30px;
        .built-cubes-rows-wrapper{ display: inline-block; 
            .a-cube{ width: 18px; height: 18px; }
        }
    }
    &.swap-turn-orders-log{ margin-left: 10px; margin-right: 10px; }
    .log-arrow{ color: #000 !important; 
        &.log-arrow-left{ margin-left: 5px; margin-right: 5px; }
        &.log-place-cube-icon{ margin-left: 2px; margin-right: 5px; }
        &.log-arrow-exchange{ margin-left: 5px; margin-right: 5px; }
    }
    
    .log-cubes-wrapper{ display: inline;
        .a-cube{ width: 16px; height: 16px; display: inline-block; position: relative; vertical-align: middle; margin-right: 8px; margin-bottom: 13px; margin-top: 2px; }
        &:last-child .a-cube { margin-bottom: 8px; }
    }
    .playername{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; 
        &.swapper-name{ font-size: 12px; max-width: 70px; display: inline-block; }
    }
}
.desktop_version .a-game-log .playername[player-color="ffa500"]{ @include text-shade(#1e4b39, 0.5px); } /* ffa500 this color doesnt look good on the logs */

.end-game-score-container { position: fixed; z-index: 100; transition: top 0.2s ease; top: 122px; padding: 18px 10px 22px 10px; background: linear-gradient(to bottom left, #8eb47e 64%, #f8da5f 110%); left: 16px; border: 1px solid #000; border-radius: 12px; box-shadow: 2px 2px 16px #000000; user-select: none; overflow: hidden;
    table{
        thead{
            th{ vertical-align: middle; outline: 1px solid #000; padding: 5px; text-align: center;
                &.corner-no-border-cell{ outline: 0 solid #ffffff; }
                &:not(.corner-no-border-cell) { background-color: #ffffff; }

                &.player-name-cell { width: 110px; 
                    span{ width: 100px; overflow: hidden; text-overflow: ellipsis; font-weight: 800; font-size: 18px; display: inline-block; }
                    &.jumping-text{ animation: jumpAndTilt 1s ease-in-out infinite; @include text-shade(#ffffff, 2px); @include gold-background(); }
                }
            }
        }
        tbody{
            td { vertical-align: middle; height: 22px; background-color: rgba(250, 236, 207, 0.6); text-align: center; color: #000000; outline: 1px solid #5c6f48ab; font-size: 16px; padding: 3px 0px;
                *[row-index="8"]{ font-size: 18px; }
                
                .a-cube, .a-bonus-card-icon-wrapper{ position: relative; display: inline-block; }
                .a-cube{ width: 20px; height: 20px; margin-top: -2px; margin-left: -4px; }
                .a-bonus-card-icon-wrapper{ display: inline-block; overflow: hidden; width: 62px; height: 26px; border-radius: 3px; margin-top: -2px;
                    .a-bonus-card-icon{ width: 125%; height: 122%; border-radius: 0px; margin-top: -3px; margin-left: -9px; background-image: none; }
                }
                &.score-type-icon-cell{ width: 72px; display: inline-block;
                    .score-type-icon{ 
                        .total-icon{ font-size: 30px; line-height: 24px; }
                    }
                }
                .cell-total{ transition: opacity 0.2s ease; }
            }
        }
    }

    .collapse-table-button { position: absolute; top: 12px; left: 12px; cursor: pointer; font-size: 26px; color: #1b2347; }
    .show-table-button { cursor: pointer; font-size: xx-large; color: #1b2347; }
    .fast-forward-text{ position: absolute; bottom: 9px; right: 11px; font-size: 12px; height: 10px;  }
}
.gamestate_gameEnd .end-game-score-container{ top: 214px; }

body.mobile_version {
    .end-game-score-container{ top: 305px; 
        table tbody td{ font-size: 20px; padding: 6px 0px;
            .a-bonus-card-icon-wrapper { width: 69px; height: 32px; border-radius: 2px; margin-top: -5px; }
        }
    }
    .gamestate_gameEnd .end-game-score-container{ top: 402px; }
}

.mobile_version{
    .log{
        &.all-selected-tiles-log {
            .market-interaction-rows-wrapper{ width: 92%; }
            .player-selected-market-tile-row.collecting + .pending::before { width: 105%; }
        }
    }
}

.dijitTooltipContainer{
    &:has(.tooltip-wrapper){ background: none; }
    .tooltip-wrapper{ background: var(--bg-gradient-tooltip); padding: 10px; margin: -6px -6px -6px -6px;
        &.bonus-card-tooltip{ max-width: 430px; }
        .tooltip-text{ font-size: 16px; color: #070031d9; @include text-shade(#fff, 2px); text-indent: 6px; text-align: center; }
        &.bonus-card-tooltip{ text-align: center;
            .tooltip-card { display: inline-block; width: 200px; height: 280px; background-image: var(--image-source-bonus-cards); background-size: 500% 400%; background-repeat: no-repeat; border-radius: 18px; margin-top: 10px; }
            @for $i from 0 through 18 {
                &.bonus-card-tooltip[bonus-card-id="#{$i}"] .tooltip-bonus-card { @include bonus-card-position($i); }
            }
            .tooltip-cubes-card{ margin-left: 10px; @include bonus-card-position(18); }
        }
    }
    .tooltip-bold{ font-weight: bold; }
}
body.mobile_version .dijitTooltipContainer .tooltip-wrapper.bonus-card-tooltip{ max-width: 600px;
    .tooltip-card { width: 120px; height: 168px; }
}

.tundra:has(.tooltip-wrapper){ /* to change the color of the little tooltip arrow */
    .dijitTooltip {
        .dijitTooltipConnector{ overflow: hidden; background: none;
            &:after{ content: ""; position: absolute; width: 86%; background: var(--bg-gradient-tooltip); aspect-ratio: 1;  }
        }
        &.dijitTooltipAbove .dijitTooltipConnector::after{ top: -52%; transform: scale(0.75, 1.1) rotate(45deg); box-shadow: -1px -1px 2px 2px #adadad; }
        &.dijitTooltipBelow .dijitTooltipConnector::after{ bottom: -52%; transform: scale(0.75, 1.1) rotate(45deg); box-shadow: 1px 1px 2px 2px #adadad; }
        &.dijitTooltipRight .dijitTooltipConnector::after{ right: -47%; transform: scale(1.1, 0.75) rotate(45deg); box-shadow: 1px -1px 2px 2px #adadad; }
        &.dijitTooltipLeft .dijitTooltipConnector::after{ left: -47%; transform: scale(1.1, 0.75) rotate(45deg); box-shadow: -1px 1px 2px 2px #adadad; }
    }
} 

@keyframes enlarge-market-tile {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@keyframes shine-cube {
    to { background-position: var(--top-bg-x) var(--top-bg-y), 0 0, -150% -150%; }
}

@keyframes shine-bonus-card-icon {
    0% { background-position: 70% 70%; opacity: 1; }
    10% { opacity: 1; }
    100% { background-position: 0% 0%; opacity: 0; }
}

@keyframes wiggle-turn-order-container {
    0% { transform: rotate(8deg); }
    50% { transform: rotate(2deg); }
    100% { transform: rotate(8deg); }
}

@keyframes selectable-market-tile-glow-animation {
    0% { box-shadow: 0 0 3px 3px var(--market-tile-glow-color); }
    40% { box-shadow: 0 0 6px 6px var(--market-tile-glow-color); }
    80% { box-shadow: 0 0 3px 3px var(--market-tile-glow-color); }
    100% { box-shadow: 0 0 3px 3px var(--market-tile-glow-color); }
}

@keyframes jumpAndTilt {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }
    25% {
        transform: translateY(-10px) rotate(-5deg);
    }
    75% {
        transform: translateY(-10px) rotate(5deg);
    }
}

@keyframes shake-shaman {
    0% { transform: translateX(0px); }
    25% { transform: translateX(-2px); }
    75% { transform: translateX(2px); }
    100% { transform: translateX(0px); }
}
